ayahsl-background      = hsl(256 33.33% 8.82%) // Background
ayahsl-bg              = hsl(256 33.33% 8.82%) // Background
ayahsl-bg900           = hsl(256 33.33% 8.82%) // Background
ayahsl-foreground      = hsl(268.33 35.29% 80%) // Foreground, Variables, Identifiers
ayahsl-fg              = hsl(268.33 35.29% 80%) // Foreground, Variables, Identifiers
ayahsl-fg200           = hsl(268.33 35.29% 80%) // Foreground, Variables, Identifiers
ayahsl-variable        = hsl(268.33 35.29% 80%) // Foreground, Variables, Identifiers
ayahsl-identifier      = hsl(268.33 35.29% 80%) // Foreground, Variables, Identifiers
ayahsl-red             = hsl(346.67 100% 64.71%) // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Header 6
ayahsl-deleted         = hsl(346.67 100% 64.71%) // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Header 6
ayahsl-breakpoint      = hsl(346.67 100% 64.71%) // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Header 6
ayahsl-stop            = hsl(346.67 100% 64.71%) // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Header 6
ayahsl-this            = hsl(346.67 100% 64.71%) // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Header 6
ayahsl-red500          = hsl(346.67 100% 64.71%) // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Header 6
ayahsl-h6              = hsl(346.67 100% 64.71%) // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Header 6
ayahsl-orange          = hsl(20 100% 64.71%)  // Terminal Yellow, Warnings, Constants, Header 4, Predefined symbols, Git conflict
ayahsl-warning         = hsl(20 100% 64.71%)  // Terminal Yellow, Warnings, Constants, Header 4, Predefined symbols, Git conflict
ayahsl-constant        = hsl(20 100% 64.71%)  // Terminal Yellow, Warnings, Constants, Header 4, Predefined symbols, Git conflict
ayahsl-orange500       = hsl(20 100% 64.71%)  // Terminal Yellow, Warnings, Constants, Header 4, Predefined symbols, Git conflict
ayahsl-h4              = hsl(20 100% 64.71%)  // Terminal Yellow, Warnings, Constants, Header 4, Predefined symbols, Git conflict
ayahsl-conflict        = hsl(20 100% 64.71%)  // Terminal Yellow, Warnings, Constants, Header 4, Predefined symbols, Git conflict
ayahsl-yellow          = hsl(46.08 90.05% 60.59%) // Terminal Bright Yellow, Characters, HTML attributes, CSS classes, Markdown alt text, Markdown link anchors
ayahsl-character       = hsl(46.08 90.05% 60.59%) // Terminal Bright Yellow, Characters, HTML attributes, CSS classes, Markdown alt text, Markdown link anchors
ayahsl-yellow500       = hsl(46.08 90.05% 60.59%) // Terminal Bright Yellow, Characters, HTML attributes, CSS classes, Markdown alt text, Markdown link anchors
ayahsl-green           = hsl(101.79 67.47% 67.45%) // Terminal Bright Green, Git added, Debug, Strings, Header 5, Markdown italics, Property values
ayahsl-added           = hsl(101.79 67.47% 67.45%) // Terminal Bright Green, Git added, Debug, Strings, Header 5, Markdown italics, Property values
ayahsl-debug           = hsl(101.79 67.47% 67.45%) // Terminal Bright Green, Git added, Debug, Strings, Header 5, Markdown italics, Property values
ayahsl-string          = hsl(101.79 67.47% 67.45%) // Terminal Bright Green, Git added, Debug, Strings, Header 5, Markdown italics, Property values
ayahsl-green500        = hsl(101.79 67.47% 67.45%) // Terminal Bright Green, Git added, Debug, Strings, Header 5, Markdown italics, Property values
ayahsl-h5              = hsl(101.79 67.47% 67.45%) // Terminal Bright Green, Git added, Debug, Strings, Header 5, Markdown italics, Property values
ayahsl-italic          = hsl(101.79 67.47% 67.45%) // Terminal Bright Green, Git added, Debug, Strings, Header 5, Markdown italics, Property values
ayahsl-teal            = hsl(148.26 91.72% 66.86%) // TODO comments, Inline code
ayahsl-todo            = hsl(148.26 91.72% 66.86%) // TODO comments, Inline code
ayahsl-teal500         = hsl(148.26 91.72% 66.86%) // TODO comments, Inline code
ayahsl-inlinecode      = hsl(148.26 91.72% 66.86%) // TODO comments, Inline code
ayahsl-cyan            = hsl(186.22 92.13% 65.1%) // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters
ayahsl-match           = hsl(186.22 92.13% 65.1%) // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters
ayahsl-control         = hsl(186.22 92.13% 65.1%) // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters
ayahsl-regex           = hsl(186.22 92.13% 65.1%) // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters
ayahsl-escape          = hsl(186.22 92.13% 65.1%) // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters
ayahsl-cyan500         = hsl(186.22 92.13% 65.1%) // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters
ayahsl-linkhover       = hsl(186.22 92.13% 65.1%) // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters
ayahsl-blue            = hsl(207.8 89.85% 61.37%) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type, Header 1
ayahsl-primary         = hsl(207.8 89.85% 61.37%) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type, Header 1
ayahsl-progress        = hsl(207.8 89.85% 61.37%) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type, Header 1
ayahsl-modified        = hsl(207.8 89.85% 61.37%) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type, Header 1
ayahsl-hyperlink       = hsl(207.8 89.85% 61.37%) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type, Header 1
ayahsl-keyword         = hsl(207.8 89.85% 61.37%) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type, Header 1
ayahsl-type            = hsl(207.8 89.85% 61.37%) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type, Header 1
ayahsl-blue500         = hsl(207.8 89.85% 61.37%) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type, Header 1
ayahsl-h1              = hsl(207.8 89.85% 61.37%) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type, Header 1
ayahsl-purple          = hsl(259.58 91.14% 69.02%) // Terminal Magenta, Debug token keys, Property keys, Functions, Attributes, Markdown plain code blocks, Header 2
ayahsl-darkmagenta     = hsl(259.58 91.14% 69.02%) // Terminal Magenta, Debug token keys, Property keys, Functions, Attributes, Markdown plain code blocks, Header 2
ayahsl-secondary       = hsl(259.58 91.14% 69.02%) // Terminal Magenta, Debug token keys, Property keys, Functions, Attributes, Markdown plain code blocks, Header 2
ayahsl-function        = hsl(259.58 91.14% 69.02%) // Terminal Magenta, Debug token keys, Property keys, Functions, Attributes, Markdown plain code blocks, Header 2
ayahsl-fun             = hsl(259.58 91.14% 69.02%) // Terminal Magenta, Debug token keys, Property keys, Functions, Attributes, Markdown plain code blocks, Header 2
ayahsl-attribute       = hsl(259.58 91.14% 69.02%) // Terminal Magenta, Debug token keys, Property keys, Functions, Attributes, Markdown plain code blocks, Header 2
ayahsl-code            = hsl(259.58 91.14% 69.02%) // Terminal Magenta, Debug token keys, Property keys, Functions, Attributes, Markdown plain code blocks, Header 2
ayahsl-purple500       = hsl(259.58 91.14% 69.02%) // Terminal Magenta, Debug token keys, Property keys, Functions, Attributes, Markdown plain code blocks, Header 2
ayahsl-h2              = hsl(259.58 91.14% 69.02%) // Terminal Magenta, Debug token keys, Property keys, Functions, Attributes, Markdown plain code blocks, Header 2
ayahsl-key             = hsl(259.58 91.14% 69.02%) // Terminal Magenta, Debug token keys, Property keys, Functions, Attributes, Markdown plain code blocks, Header 2
ayahsl-magenta         = hsl(302.63 89.54% 70%) // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords, Markdown bold, Header 3
ayahsl-pink            = hsl(302.63 89.54% 70%) // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords, Markdown bold, Header 3
ayahsl-tertiary        = hsl(302.63 89.54% 70%) // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords, Markdown bold, Header 3
ayahsl-focus           = hsl(302.63 89.54% 70%) // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords, Markdown bold, Header 3
ayahsl-operator        = hsl(302.63 89.54% 70%) // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords, Markdown bold, Header 3
ayahsl-magenta500      = hsl(302.63 89.54% 70%) // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords, Markdown bold, Header 3
ayahsl-pink500         = hsl(302.63 89.54% 70%) // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords, Markdown bold, Header 3
ayahsl-bold            = hsl(302.63 89.54% 70%) // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords, Markdown bold, Header 3
ayahsl-value           = hsl(302.63 89.54% 70%) // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords, Markdown bold, Header 3
ayahsl-h3              = hsl(302.63 89.54% 70%) // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords, Markdown bold, Header 3
ayahsl-red900          = hsl(348.16 52.05% 28.63%) // Error background, Git deleted background
ayahsl-error2          = hsl(348.16 52.05% 28.63%) // Error background, Git deleted background
ayahsl-red700          = hsl(345.81 60.66% 47.84%) // Terminal Red, Error, Invalid, Tags
ayahsl-darkred         = hsl(345.81 60.66% 47.84%) // Terminal Red, Error, Invalid, Tags
ayahsl-error           = hsl(345.81 60.66% 47.84%) // Terminal Red, Error, Invalid, Tags
ayahsl-invalid         = hsl(345.81 60.66% 47.84%) // Terminal Red, Error, Invalid, Tags
ayahsl-tag             = hsl(345.81 60.66% 47.84%) // Terminal Red, Error, Invalid, Tags
ayahsl-red300          = hsl(348.37 100% 74.71%)
ayahsl-red100          = hsl(352.11 100% 85.1%)
ayahsl-orange900       = hsl(19.48 46.67% 32.35%) // Git conflict background
ayahsl-orange700       = hsl(20.27 58.73% 49.41%)
ayahsl-orange300       = hsl(22.62 100% 74.51%) // Parameters
ayahsl-parameter       = hsl(22.62 100% 74.51%) // Parameters
ayahsl-orange100       = hsl(24.35 100% 86.47%)
ayahsl-yellow900       = hsl(45.41 38.95% 37.25%)
ayahsl-yellow700       = hsl(46.31 60.82% 48.04%) // Verbose
ayahsl-verbose         = hsl(46.31 60.82% 48.04%) // Verbose
ayahsl-yellow300       = hsl(51.36 100% 75.49%)
ayahsl-yellow100       = hsl(60 100% 90.59%) 
ayahsl-green900        = hsl(102.86 24.87% 38.63%) // Git added background
ayahsl-green700        = hsl(102.2 38.4% 53.53%) // Terminal Green, Info, String quotation marks
ayahsl-darkgreen       = hsl(102.2 38.4% 53.53%) // Terminal Green, Info, String quotation marks
ayahsl-info            = hsl(102.2 38.4% 53.53%) // Terminal Green, Info, String quotation marks
ayahsl-green300        = hsl(101.74 100% 81.96%)
ayahsl-green100        = hsl(92.73 100% 93.53%)
ayahsl-teal900         = hsl(144.76 29.86% 41.37%)
ayahsl-teal700         = hsl(148.35 53.59% 53.53%)
ayahsl-teal300         = hsl(150.6 100% 80.39%) // Instance fields
ayahsl-instance        = hsl(150.6 100% 80.39%) // Instance fields
ayahsl-teal100         = hsl(169.66 100% 94.31%)
ayahsl-cyan900         = hsl(187.16 33.33% 39.41%)
ayahsl-cyan700         = hsl(186.22 55.1% 51.96%) // Terminal Cyan, Classes
ayahsl-darkcyan        = hsl(186.22 55.1% 51.96%) // Terminal Cyan, Classes
ayahsl-class           = hsl(186.22 55.1% 51.96%) // Terminal Cyan, Classes
ayahsl-cyan300         = hsl(180 100% 78.82%) // Static fields
ayahsl-static          = hsl(180 100% 78.82%) // Static fields
ayahsl-cyan100         = hsl(180 100% 92.75%)
ayahsl-blue900         = hsl(208 52.45% 28.04%) // Git modified background
ayahsl-blue700         = hsl(207.12 62.93% 45.49%) // Terminal Blue, Bookmarks, VS Code activity badge
ayahsl-darkblue        = hsl(207.12 62.93% 45.49%) // Terminal Blue, Bookmarks, VS Code activity badge
ayahsl-activitybadge   = hsl(207.12 62.93% 45.49%) // Terminal Blue, Bookmarks, VS Code activity badge
ayahsl-bookmark        = hsl(207.12 62.93% 45.49%) // Terminal Blue, Bookmarks, VS Code activity badge
ayahsl-blue2           = hsl(207.12 62.93% 45.49%) // Terminal Blue, Bookmarks, VS Code activity badge
ayahsl-blue300         = hsl(206.28 100% 73.14%)
ayahsl-blue100         = hsl(207.34 100% 84.51%)
ayahsl-purple900       = hsl(259.67 43.26% 27.65%) // Active item
ayahsl-activeitem      = hsl(259.67 43.26% 27.65%) // Active item
ayahsl-purple700       = hsl(260.34 47.2% 50.98%)
ayahsl-purple300       = hsl(259.29 100% 78.04%) // Active item text, Named argument
ayahsl-activeitemtext  = hsl(259.29 100% 78.04%) // Active item text, Named argument
ayahsl-purple100       = hsl(253.97 100% 85.69%)
ayahsl-magenta900      = hsl(303.05 33.33% 34.71%)
ayahsl-pink900         = hsl(303.05 33.33% 34.71%)
ayahsl-magenta700      = hsl(302.68 47.46% 53.73%)
ayahsl-pink700         = hsl(302.68 47.46% 53.73%)
ayahsl-magenta300      = hsl(300 100% 80.39%) // Annotations, Metadata
ayahsl-pink300         = hsl(300 100% 80.39%) // Annotations, Metadata
ayahsl-annotation      = hsl(300 100% 80.39%) // Annotations, Metadata
ayahsl-metadata        = hsl(300 100% 80.39%) // Annotations, Metadata
ayahsl-magenta100      = hsl(300 100% 90.2%)  // Reassigned local variable
ayahsl-pink100         = hsl(300 100% 90.2%)  // Reassigned local variable
ayahsl-reassigned      = hsl(300 100% 90.2%)  // Reassigned local variable
ayahsl-bg850           = hsl(255.79 31.15% 11.96%) // Markdown block quotes, Header Row, Secondary borders
ayahsl-tabline         = hsl(255.79 31.15% 11.96%) // Markdown block quotes, Header Row, Secondary borders
ayahsl-blockquote      = hsl(255.79 31.15% 11.96%) // Markdown block quotes, Header Row, Secondary borders
ayahsl-border2         = hsl(255.79 31.15% 11.96%) // Markdown block quotes, Header Row, Secondary borders
ayahsl-bg800           = hsl(254.4 30.86% 15.88%) // Modal background, Checkbox background, Input background
ayahsl-modal           = hsl(254.4 30.86% 15.88%) // Modal background, Checkbox background, Input background
ayahsl-menu            = hsl(254.4 30.86% 15.88%) // Modal background, Checkbox background, Input background
ayahsl-toolbar         = hsl(254.4 30.86% 15.88%) // Modal background, Checkbox background, Input background
ayahsl-checkbox        = hsl(254.4 30.86% 15.88%) // Modal background, Checkbox background, Input background
ayahsl-input           = hsl(254.4 30.86% 15.88%) // Modal background, Checkbox background, Input background
ayahsl-bg750           = hsl(255 31.37% 20%)  // Subheader background, Alternate row background, Alternate modal background
ayahsl-subheader       = hsl(255 31.37% 20%)  // Subheader background, Alternate row background, Alternate modal background
ayahsl-altrow          = hsl(255 31.37% 20%)  // Subheader background, Alternate row background, Alternate modal background
ayahsl-bg700           = hsl(256.92 32.23% 23.73%) // Terminal Black, Line highlight, UI hover highlight, Buttons, Borders, Rules and guides
ayahsl-black           = hsl(256.92 32.23% 23.73%) // Terminal Black, Line highlight, UI hover highlight, Buttons, Borders, Rules and guides
ayahsl-hover           = hsl(256.92 32.23% 23.73%) // Terminal Black, Line highlight, UI hover highlight, Buttons, Borders, Rules and guides
ayahsl-highlight       = hsl(256.92 32.23% 23.73%) // Terminal Black, Line highlight, UI hover highlight, Buttons, Borders, Rules and guides
ayahsl-border          = hsl(256.92 32.23% 23.73%) // Terminal Black, Line highlight, UI hover highlight, Buttons, Borders, Rules and guides
ayahsl-rule            = hsl(256.92 32.23% 23.73%) // Terminal Black, Line highlight, UI hover highlight, Buttons, Borders, Rules and guides
ayahsl-button          = hsl(256.92 32.23% 23.73%) // Terminal Black, Line highlight, UI hover highlight, Buttons, Borders, Rules and guides
ayahsl-bg650           = hsl(256 31.91% 27.65%)
ayahsl-bg600           = hsl(256.47 31.68% 31.57%)
ayahsl-bg550           = hsl(255.52 31.87% 35.69%)
ayahsl-bg500           = hsl(255.94 31.68% 39.61%) // Terminal Bright Black, Line numbers, Folded code blocks
ayahsl-gray            = hsl(255.94 31.68% 39.61%) // Terminal Bright Black, Line numbers, Folded code blocks
ayahsl-gutter          = hsl(255.94 31.68% 39.61%) // Terminal Bright Black, Line numbers, Folded code blocks
ayahsl-folded          = hsl(255.94 31.68% 39.61%) // Terminal Bright Black, Line numbers, Folded code blocks
ayahsl-darkgray        = hsl(255.94 31.68% 39.61%) // Terminal Bright Black, Line numbers, Folded code blocks
ayahsl-bg450           = hsl(255.79 24.46% 45.69%) // Comments
ayahsl-comment         = hsl(255.79 24.46% 45.69%) // Comments
ayahsl-bg400           = hsl(256.47 20.65% 51.57%)
ayahsl-bg350           = hsl(256 20.93% 57.84%)
ayahsl-bg300           = hsl(256.92 21.08% 63.73%)
ayahsl-bg250           = hsl(256.88 20.78% 69.8%)
ayahsl-bg200           = hsl(254.4 20.33% 75.88%)
ayahsl-bg150           = hsl(255.79 20.43% 81.76%)
ayahsl-bg100           = hsl(253.85 21.31% 88.04%)
ayahsl-fg900           = hsl(268.42 37.25% 10%)
ayahsl-fg850           = hsl(266.67 35.06% 15.1%)
ayahsl-fg800           = hsl(268.33 35.29% 20%) // Highlight and focus border, Highlights in UI and modals
ayahsl-focusborder     = hsl(268.33 35.29% 20%) // Highlight and focus border, Highlights in UI and modals
ayahsl-highlightborder = hsl(268.33 35.29% 20%) // Highlight and focus border, Highlights in UI and modals
ayahsl-modalhighlight  = hsl(268.33 35.29% 20%) // Highlight and focus border, Highlights in UI and modals
ayahsl-highlight2      = hsl(268.33 35.29% 20%) // Highlight and focus border, Highlights in UI and modals
ayahsl-fg750           = hsl(267.39 35.94% 25.1%)
ayahsl-fg700           = hsl(267.27 35.95% 30%) // Selection background
ayahsl-selection       = hsl(267.27 35.95% 30%) // Selection background
ayahsl-fg650           = hsl(268.12 35.96% 34.9%)
ayahsl-fg600           = hsl(267.5 35.29% 40%)
ayahsl-fg550           = hsl(267.8 35.65% 45.1%)
ayahsl-fg500           = hsl(267.69 35.69% 50%) // Markdown underline
ayahsl-underline       = hsl(267.69 35.69% 50%) // Markdown underline
ayahsl-fg450           = hsl(267.8 35.65% 54.9%)
ayahsl-fg400           = hsl(267.5 35.29% 60%) // Cursor, Active border, Active line number, Subheader foreground, Badge background, Minimap and scrollbar background, Markdown table text
ayahsl-cursor          = hsl(267.5 35.29% 60%) // Cursor, Active border, Active line number, Subheader foreground, Badge background, Minimap and scrollbar background, Markdown table text
ayahsl-activeborder    = hsl(267.5 35.29% 60%) // Cursor, Active border, Active line number, Subheader foreground, Badge background, Minimap and scrollbar background, Markdown table text
ayahsl-active          = hsl(267.5 35.29% 60%) // Cursor, Active border, Active line number, Subheader foreground, Badge background, Minimap and scrollbar background, Markdown table text
ayahsl-fg350           = hsl(267.19 35.96% 65.1%)
ayahsl-fg300           = hsl(267.27 35.95% 70%) // Blockquote text
ayahsl-blockquotetext  = hsl(267.27 35.95% 70%) // Blockquote text
ayahsl-fg250           = hsl(268 35.43% 75.1%)
ayahsl-fg150           = hsl(268.89 35.06% 84.9%)
ayahsl-fg100           = hsl(268.42 37.25% 90%) // Terminal Bright White, Objects
ayahsl-white           = hsl(268.42 37.25% 90%) // Terminal Bright White, Objects
ayahsl-object          = hsl(268.42 37.25% 90%) // Terminal Bright White, Objects
ayahsl-bracket         = hsl(212.11 31.84% 56.27%) // Parentheses, Brackets, Braces
ayahsl-lightgray       = hsl(266 13.04% 54.9%) // Terminal White, Muted text, Punctuation, Unused code
ayahsl-darkwhite       = hsl(266 13.04% 54.9%) // Terminal White, Muted text, Punctuation, Unused code
ayahsl-muted           = hsl(266 13.04% 54.9%) // Terminal White, Muted text, Punctuation, Unused code
ayahsl-unused          = hsl(266 13.04% 54.9%) // Terminal White, Muted text, Punctuation, Unused code
ayahsl-punctuation     = hsl(266 13.04% 54.9%) // Terminal White, Muted text, Punctuation, Unused code
ayahsl-terminator      = hsl(266 13.04% 54.9%) // Terminal White, Muted text, Punctuation, Unused code
ayahsl-foreground2     = hsl(0 0% 73.33%)     // Alternate foreground
ayahsl-purewhite       = hsl(0 0% 100%)       // Extra white for lighter backgrounds, Badge foreground
ayahsl-header          = hsl(255 30.77% 5.1%) // Modal header background
