ayahsl-background      = hsl(256, 33%, 9%)    // Background
ayahsl-bg              = hsl(256, 33%, 9%)    // Background
ayahsl-bg900           = hsl(256, 33%, 9%)    // Background
ayahsl-foreground      = hsl(268, 35%, 80%)   // Foreground, Variables, Identifiers
ayahsl-fg              = hsl(268, 35%, 80%)   // Foreground, Variables, Identifiers
ayahsl-fg200           = hsl(268, 35%, 80%)   // Foreground, Variables, Identifiers
ayahsl-variable        = hsl(268, 35%, 80%)   // Foreground, Variables, Identifiers
ayahsl-identifier      = hsl(268, 35%, 80%)   // Foreground, Variables, Identifiers
ayahsl-red             = hsl(351, 100%, 50%)  // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayahsl-deleted         = hsl(351, 100%, 50%)  // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayahsl-breakpoint      = hsl(351, 100%, 50%)  // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayahsl-stop            = hsl(351, 100%, 50%)  // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayahsl-this            = hsl(351, 100%, 50%)  // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayahsl-bold            = hsl(351, 100%, 50%)  // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayahsl-red500          = hsl(351, 100%, 50%)  // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayahsl-orange          = hsl(14, 100%, 50%)   // Terminal Yellow, Warnings, Constants
ayahsl-warning         = hsl(14, 100%, 50%)   // Terminal Yellow, Warnings, Constants
ayahsl-constant        = hsl(14, 100%, 50%)   // Terminal Yellow, Warnings, Constants
ayahsl-orange500       = hsl(14, 100%, 50%)   // Terminal Yellow, Warnings, Constants
ayahsl-yellow          = hsl(46, 90%, 61%)    // Terminal Bright Yellow, Characters, HTML attributes, CSS classes, Markdown alt text, Markdown link anchors
ayahsl-character       = hsl(46, 90%, 61%)    // Terminal Bright Yellow, Characters, HTML attributes, CSS classes, Markdown alt text, Markdown link anchors
ayahsl-yellow500       = hsl(46, 90%, 61%)    // Terminal Bright Yellow, Characters, HTML attributes, CSS classes, Markdown alt text, Markdown link anchors
ayahsl-green           = hsl(102, 67%, 67%)   // Terminal Bright Green, Git added, Debug, Strings
ayahsl-added           = hsl(102, 67%, 67%)   // Terminal Bright Green, Git added, Debug, Strings
ayahsl-debug           = hsl(102, 67%, 67%)   // Terminal Bright Green, Git added, Debug, Strings
ayahsl-string          = hsl(102, 67%, 67%)   // Terminal Bright Green, Git added, Debug, Strings
ayahsl-green500        = hsl(102, 67%, 67%)   // Terminal Bright Green, Git added, Debug, Strings
ayahsl-teal            = hsl(148, 92%, 67%)   // TODO comments
ayahsl-todo            = hsl(148, 92%, 67%)   // TODO comments
ayahsl-teal500         = hsl(148, 92%, 67%)   // TODO comments
ayahsl-cyan            = hsl(186, 92%, 65%)   // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayahsl-match           = hsl(186, 92%, 65%)   // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayahsl-control         = hsl(186, 92%, 65%)   // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayahsl-regex           = hsl(186, 92%, 65%)   // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayahsl-escape          = hsl(186, 92%, 65%)   // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayahsl-italics         = hsl(186, 92%, 65%)   // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayahsl-cyan500         = hsl(186, 92%, 65%)   // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayahsl-linkhover       = hsl(186, 92%, 65%)   // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayahsl-blue            = hsl(208, 90%, 61%)   // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
ayahsl-primary         = hsl(208, 90%, 61%)   // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
ayahsl-progress        = hsl(208, 90%, 61%)   // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
ayahsl-modified        = hsl(208, 90%, 61%)   // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
ayahsl-hyperlink       = hsl(208, 90%, 61%)   // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
ayahsl-keyword         = hsl(208, 90%, 61%)   // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
ayahsl-type            = hsl(208, 90%, 61%)   // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
ayahsl-blue500         = hsl(208, 90%, 61%)   // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
ayahsl-purple          = hsl(260, 91%, 69%)   // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayahsl-darkmagenta     = hsl(260, 91%, 69%)   // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayahsl-secondary       = hsl(260, 91%, 69%)   // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayahsl-function        = hsl(260, 91%, 69%)   // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayahsl-fun             = hsl(260, 91%, 69%)   // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayahsl-attribute       = hsl(260, 91%, 69%)   // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayahsl-code            = hsl(260, 91%, 69%)   // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayahsl-purple500       = hsl(260, 91%, 69%)   // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayahsl-magenta         = hsl(303, 90%, 70%)   // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayahsl-pink            = hsl(303, 90%, 70%)   // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayahsl-tertiary        = hsl(303, 90%, 70%)   // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayahsl-focus           = hsl(303, 90%, 70%)   // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayahsl-operator        = hsl(303, 90%, 70%)   // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayahsl-magenta500      = hsl(303, 90%, 70%)   // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayahsl-value           = hsl(303, 90%, 70%)   // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayahsl-red900          = hsl(347, 49%, 27%)   // Error background
ayahsl-error2          = hsl(347, 49%, 27%)   // Error background
ayahsl-red700          = hsl(346, 57%, 54%)   // Terminal Red, Error, Invalid, Tags
ayahsl-darkred         = hsl(346, 57%, 54%)   // Terminal Red, Error, Invalid, Tags
ayahsl-error           = hsl(346, 57%, 54%)   // Terminal Red, Error, Invalid, Tags
ayahsl-invalid         = hsl(346, 57%, 54%)   // Terminal Red, Error, Invalid, Tags
ayahsl-tag             = hsl(346, 57%, 54%)   // Terminal Red, Error, Invalid, Tags
ayahsl-red300          = hsl(353, 100%, 50%) 
ayahsl-red100          = hsl(0, 0%, 100%)    
ayahsl-orange900       = hsl(21, 47%, 27%)   
ayahsl-orange700       = hsl(21, 56%, 55%)   
ayahsl-orange300       = hsl(11, 100%, 50%)  
ayahsl-orange100       = hsl(0, 0%, 100%)    
ayahsl-yellow900       = hsl(46, 58%, 24%)   
ayahsl-yellow700       = hsl(46, 59%, 48%)   
ayahsl-yellow300       = hsl(46, 90%, 68%)   
ayahsl-yellow100       = hsl(46, 90%, 84%)   
ayahsl-green900        = hsl(101, 33%, 27%)  
ayahsl-green700        = hsl(102, 38%, 54%)   // Terminal Green, Info, String quotation marks
ayahsl-darkgreen       = hsl(102, 38%, 54%)   // Terminal Green, Info, String quotation marks
ayahsl-info            = hsl(102, 38%, 54%)   // Terminal Green, Info, String quotation marks
ayahsl-green300        = hsl(102, 67%, 74%)  
ayahsl-green100        = hsl(101, 67%, 87%)  
ayahsl-teal900         = hsl(148, 46%, 27%)  
ayahsl-teal700         = hsl(149, 52%, 53%)  
ayahsl-teal300         = hsl(149, 91%, 73%)  
ayahsl-teal100         = hsl(148, 91%, 87%)  
ayahsl-cyan900         = hsl(186, 49%, 26%)  
ayahsl-cyan700         = hsl(186, 53%, 52%)   // Terminal Cyan, Classes
ayahsl-darkcyan        = hsl(186, 53%, 52%)   // Terminal Cyan, Classes
ayahsl-class           = hsl(186, 53%, 52%)   // Terminal Cyan, Classes
ayahsl-cyan300         = hsl(186, 92%, 72%)  
ayahsl-cyan100         = hsl(186, 92%, 86%)  
ayahsl-blue900         = hsl(208, 57%, 25%)  
ayahsl-blue700         = hsl(208, 57%, 49%)   // Terminal Blue, Bookmarks, VS Code activity badge
ayahsl-darkblue        = hsl(208, 57%, 49%)   // Terminal Blue, Bookmarks, VS Code activity badge
ayahsl-activitybadge   = hsl(208, 57%, 49%)   // Terminal Blue, Bookmarks, VS Code activity badge
ayahsl-bookmark        = hsl(208, 57%, 49%)   // Terminal Blue, Bookmarks, VS Code activity badge
ayahsl-blue2           = hsl(208, 57%, 49%)   // Terminal Blue, Bookmarks, VS Code activity badge
ayahsl-blue300         = hsl(208, 90%, 69%)  
ayahsl-blue100         = hsl(208, 90%, 85%)  
ayahsl-purple900       = hsl(259, 40%, 28%)  
ayahsl-purple700       = hsl(260, 50%, 55%)  
ayahsl-purple300       = hsl(260, 91%, 75%)  
ayahsl-purple100       = hsl(259, 90%, 88%)  
ayahsl-magenta900      = hsl(303, 38%, 28%)  
ayahsl-magenta700      = hsl(303, 49%, 56%)  
ayahsl-magenta300      = hsl(303, 90%, 76%)  
ayahsl-magenta100      = hsl(303, 90%, 88%)  
ayahsl-bg800           = hsl(256, 31%, 12%)   // Secondary borders
ayahsl-border2         = hsl(256, 31%, 12%)   // Secondary borders
ayahsl-bg700           = hsl(254, 31%, 16%)   // Modal background, Checkbox background, Input background
ayahsl-modal           = hsl(254, 31%, 16%)   // Modal background, Checkbox background, Input background
ayahsl-menu            = hsl(254, 31%, 16%)   // Modal background, Checkbox background, Input background
ayahsl-toolbar         = hsl(254, 31%, 16%)   // Modal background, Checkbox background, Input background
ayahsl-checkbox        = hsl(254, 31%, 16%)   // Modal background, Checkbox background, Input background
ayahsl-input           = hsl(254, 31%, 16%)   // Modal background, Checkbox background, Input background
ayahsl-bg600           = hsl(255, 31%, 20%)   // Subheader background, Line highlight, UI hover highlight
ayahsl-subheader       = hsl(255, 31%, 20%)   // Subheader background, Line highlight, UI hover highlight
ayahsl-tabline         = hsl(255, 31%, 20%)   // Subheader background, Line highlight, UI hover highlight
ayahsl-hover           = hsl(255, 31%, 20%)   // Subheader background, Line highlight, UI hover highlight
ayahsl-highlight       = hsl(255, 31%, 20%)   // Subheader background, Line highlight, UI hover highlight
ayahsl-bg500           = hsl(257, 32%, 24%)   // Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background
ayahsl-black           = hsl(257, 32%, 24%)   // Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background
ayahsl-gutter          = hsl(257, 32%, 24%)   // Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background
ayahsl-border          = hsl(257, 32%, 24%)   // Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background
ayahsl-rule            = hsl(257, 32%, 24%)   // Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background
ayahsl-button          = hsl(257, 32%, 24%)   // Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background
ayahsl-altrow          = hsl(257, 32%, 24%)   // Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background
ayahsl-bg400           = hsl(256, 32%, 28%)  
ayahsl-bg300           = hsl(256, 32%, 32%)  
ayahsl-bg200           = hsl(256, 32%, 36%)  
ayahsl-bg100           = hsl(256, 32%, 40%)   // Terminal Bright Black, Comments, Markdown block quotes, Folded code blocks
ayahsl-gray            = hsl(256, 32%, 40%)   // Terminal Bright Black, Comments, Markdown block quotes, Folded code blocks
ayahsl-comment         = hsl(256, 32%, 40%)   // Terminal Bright Black, Comments, Markdown block quotes, Folded code blocks
ayahsl-blockquote      = hsl(256, 32%, 40%)   // Terminal Bright Black, Comments, Markdown block quotes, Folded code blocks
ayahsl-folded          = hsl(256, 32%, 40%)   // Terminal Bright Black, Comments, Markdown block quotes, Folded code blocks
ayahsl-darkgray        = hsl(256, 32%, 40%)   // Terminal Bright Black, Comments, Markdown block quotes, Folded code blocks
ayahsl-fg900           = hsl(268, 37%, 10%)  
ayahsl-fg800           = hsl(268, 35%, 20%)   // Highlight and focus border, Highlights in UI and modals
ayahsl-focusborder     = hsl(268, 35%, 20%)   // Highlight and focus border, Highlights in UI and modals
ayahsl-highlightborder = hsl(268, 35%, 20%)   // Highlight and focus border, Highlights in UI and modals
ayahsl-modalhighlight  = hsl(268, 35%, 20%)   // Highlight and focus border, Highlights in UI and modals
ayahsl-highlight2      = hsl(268, 35%, 20%)   // Highlight and focus border, Highlights in UI and modals
ayahsl-fg700           = hsl(267, 36%, 30%)   // Selection background
ayahsl-selection       = hsl(267, 36%, 30%)   // Selection background
ayahsl-fg600           = hsl(268, 35%, 40%)  
ayahsl-fg500           = hsl(268, 36%, 50%)   // Markdown underline
ayahsl-underline       = hsl(268, 36%, 50%)   // Markdown underline
ayahsl-fg400           = hsl(268, 35%, 60%)   // Cursor, Active border, Active line number, Subheader foreground, Badge background, Minimap and scrollbar background, Markdown table text
ayahsl-cursor          = hsl(268, 35%, 60%)   // Cursor, Active border, Active line number, Subheader foreground, Badge background, Minimap and scrollbar background, Markdown table text
ayahsl-activeborder    = hsl(268, 35%, 60%)   // Cursor, Active border, Active line number, Subheader foreground, Badge background, Minimap and scrollbar background, Markdown table text
ayahsl-active          = hsl(268, 35%, 60%)   // Cursor, Active border, Active line number, Subheader foreground, Badge background, Minimap and scrollbar background, Markdown table text
ayahsl-fg300           = hsl(267, 36%, 70%)  
ayahsl-fg100           = hsl(268, 37%, 90%)   // Terminal Bright White, Objects
ayahsl-white           = hsl(268, 37%, 90%)   // Terminal Bright White, Objects
ayahsl-object          = hsl(268, 37%, 90%)   // Terminal Bright White, Objects
ayahsl-bracket         = hsl(212, 32%, 56%)   // Parentheses, Brackets, Braces
ayahsl-lightgray       = hsl(266, 13%, 55%)   // Terminal White, Muted text, Punctuation
ayahsl-darkwhite       = hsl(266, 13%, 55%)   // Terminal White, Muted text, Punctuation
ayahsl-muted           = hsl(266, 13%, 55%)   // Terminal White, Muted text, Punctuation
ayahsl-punctuation     = hsl(266, 13%, 55%)   // Terminal White, Muted text, Punctuation
ayahsl-terminator      = hsl(266, 13%, 55%)   // Terminal White, Muted text, Punctuation
ayahsl-foreground2     = hsl(0, 0%, 73%)      // Alternate foreground
ayahsl-purewhite       = hsl(0, 0%, 100%)     // Extra white for lighter backgrounds, Badge foreground
ayahsl-header          = hsl(255, 31%, 5%)    // Modal header background
