aya-background      = var(--ayame-background)      // Background
aya-bg              = var(--ayame-bg)              // Background
aya-bg900           = var(--ayame-bg900)           // Background
aya-foreground      = var(--ayame-foreground)      // Foreground
aya-fg              = var(--ayame-fg)              // Foreground
aya-fg200           = var(--ayame-fg200)           // Foreground
aya-red             = var(--ayame-red)             // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
aya-deleted         = var(--ayame-deleted)         // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
aya-breakpoint      = var(--ayame-breakpoint)      // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
aya-stop            = var(--ayame-stop)            // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
aya-this            = var(--ayame-this)            // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
aya-bold            = var(--ayame-bold)            // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
aya-red500          = var(--ayame-red500)          // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
aya-orange          = var(--ayame-orange)          // Terminal Yellow, Warnings, Constants
aya-warning         = var(--ayame-warning)         // Terminal Yellow, Warnings, Constants
aya-constant        = var(--ayame-constant)        // Terminal Yellow, Warnings, Constants
aya-orange500       = var(--ayame-orange500)       // Terminal Yellow, Warnings, Constants
aya-yellow          = var(--ayame-yellow)          // Terminal Bright Yellow, Characters, HTML attributes, CSS classes, Markdown alt text, Markdown link anchors
aya-character       = var(--ayame-character)       // Terminal Bright Yellow, Characters, HTML attributes, CSS classes, Markdown alt text, Markdown link anchors
aya-yellow500       = var(--ayame-yellow500)       // Terminal Bright Yellow, Characters, HTML attributes, CSS classes, Markdown alt text, Markdown link anchors
aya-green           = var(--ayame-green)           // Terminal Bright Green, Git added, Debug, Strings
aya-added           = var(--ayame-added)           // Terminal Bright Green, Git added, Debug, Strings
aya-debug           = var(--ayame-debug)           // Terminal Bright Green, Git added, Debug, Strings
aya-string          = var(--ayame-string)          // Terminal Bright Green, Git added, Debug, Strings
aya-green500        = var(--ayame-green500)        // Terminal Bright Green, Git added, Debug, Strings
aya-teal            = var(--ayame-teal)            // TODO comments
aya-todo            = var(--ayame-todo)            // TODO comments
aya-teal500         = var(--ayame-teal500)         // TODO comments
aya-cyan            = var(--ayame-cyan)            // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
aya-match           = var(--ayame-match)           // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
aya-control         = var(--ayame-control)         // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
aya-regex           = var(--ayame-regex)           // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
aya-escape          = var(--ayame-escape)          // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
aya-italics         = var(--ayame-italics)         // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
aya-cyan500         = var(--ayame-cyan500)         // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
aya-linkhover       = var(--ayame-linkhover)       // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
aya-blue            = var(--ayame-blue)            // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
aya-primary         = var(--ayame-primary)         // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
aya-progress        = var(--ayame-progress)        // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
aya-modified        = var(--ayame-modified)        // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
aya-hyperlink       = var(--ayame-hyperlink)       // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
aya-keyword         = var(--ayame-keyword)         // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
aya-type            = var(--ayame-type)            // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
aya-blue500         = var(--ayame-blue500)         // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
aya-purple          = var(--ayame-purple)          // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
aya-darkmagenta     = var(--ayame-darkmagenta)     // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
aya-secondary       = var(--ayame-secondary)       // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
aya-function        = var(--ayame-function)        // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
aya-fun             = var(--ayame-fun)             // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
aya-attribute       = var(--ayame-attribute)       // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
aya-code            = var(--ayame-code)            // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
aya-purple500       = var(--ayame-purple500)       // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
aya-magenta         = var(--ayame-magenta)         // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
aya-pink            = var(--ayame-pink)            // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
aya-tertiary        = var(--ayame-tertiary)        // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
aya-focus           = var(--ayame-focus)           // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
aya-operator        = var(--ayame-operator)        // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
aya-magenta500      = var(--ayame-magenta500)      // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
aya-value           = var(--ayame-value)           // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
aya-red900          = var(--ayame-red900)          // Error background
aya-error2          = var(--ayame-error2)          // Error background
aya-red700          = var(--ayame-red700)          // Terminal Red, Error, Invalid, Tags
aya-darkred         = var(--ayame-darkred)         // Terminal Red, Error, Invalid, Tags
aya-error           = var(--ayame-error)           // Terminal Red, Error, Invalid, Tags
aya-invalid         = var(--ayame-invalid)         // Terminal Red, Error, Invalid, Tags
aya-tag             = var(--ayame-tag)             // Terminal Red, Error, Invalid, Tags
aya-red300          = var(--ayame-red300)         
aya-red100          = var(--ayame-red100)         
aya-orange900       = var(--ayame-orange900)      
aya-orange700       = var(--ayame-orange700)      
aya-orange300       = var(--ayame-orange300)      
aya-orange100       = var(--ayame-orange100)      
aya-yellow900       = var(--ayame-yellow900)      
aya-yellow700       = var(--ayame-yellow700)      
aya-yellow300       = var(--ayame-yellow300)      
aya-yellow100       = var(--ayame-yellow100)      
aya-green900        = var(--ayame-green900)       
aya-green700        = var(--ayame-green700)        // Terminal Green, Info, String quotation marks
aya-darkgreen       = var(--ayame-darkgreen)       // Terminal Green, Info, String quotation marks
aya-info            = var(--ayame-info)            // Terminal Green, Info, String quotation marks
aya-green300        = var(--ayame-green300)       
aya-green100        = var(--ayame-green100)       
aya-teal900         = var(--ayame-teal900)        
aya-teal700         = var(--ayame-teal700)        
aya-teal300         = var(--ayame-teal300)        
aya-teal100         = var(--ayame-teal100)        
aya-cyan900         = var(--ayame-cyan900)        
aya-cyan700         = var(--ayame-cyan700)         // Terminal Cyan, Classes, Identifiers, Variables
aya-darkcyan        = var(--ayame-darkcyan)        // Terminal Cyan, Classes, Identifiers, Variables
aya-class           = var(--ayame-class)           // Terminal Cyan, Classes, Identifiers, Variables
aya-identifier      = var(--ayame-identifier)      // Terminal Cyan, Classes, Identifiers, Variables
aya-variable        = var(--ayame-variable)        // Terminal Cyan, Classes, Identifiers, Variables
aya-cyan300         = var(--ayame-cyan300)        
aya-cyan100         = var(--ayame-cyan100)        
aya-blue900         = var(--ayame-blue900)        
aya-blue700         = var(--ayame-blue700)         // Terminal Blue, Bookmarks, VS Code activity badge
aya-darkblue        = var(--ayame-darkblue)        // Terminal Blue, Bookmarks, VS Code activity badge
aya-activitybadge   = var(--ayame-activitybadge)   // Terminal Blue, Bookmarks, VS Code activity badge
aya-bookmark        = var(--ayame-bookmark)        // Terminal Blue, Bookmarks, VS Code activity badge
aya-blue2           = var(--ayame-blue2)           // Terminal Blue, Bookmarks, VS Code activity badge
aya-blue300         = var(--ayame-blue300)        
aya-blue100         = var(--ayame-blue100)        
aya-purple900       = var(--ayame-purple900)      
aya-purple700       = var(--ayame-purple700)      
aya-purple300       = var(--ayame-purple300)      
aya-purple100       = var(--ayame-purple100)      
aya-magenta900      = var(--ayame-magenta900)     
aya-magenta700      = var(--ayame-magenta700)     
aya-magenta300      = var(--ayame-magenta300)     
aya-magenta100      = var(--ayame-magenta100)     
aya-bg800           = var(--ayame-bg800)           // Secondary borders
aya-border2         = var(--ayame-border2)         // Secondary borders
aya-bg700           = var(--ayame-bg700)           // Modal background, Checkbox background, Input background
aya-modal           = var(--ayame-modal)           // Modal background, Checkbox background, Input background
aya-menu            = var(--ayame-menu)            // Modal background, Checkbox background, Input background
aya-toolbar         = var(--ayame-toolbar)         // Modal background, Checkbox background, Input background
aya-checkbox        = var(--ayame-checkbox)        // Modal background, Checkbox background, Input background
aya-input           = var(--ayame-input)           // Modal background, Checkbox background, Input background
aya-bg600           = var(--ayame-bg600)           // Subheader background, Line highlight, UI hover highlight
aya-subheader       = var(--ayame-subheader)       // Subheader background, Line highlight, UI hover highlight
aya-tabline         = var(--ayame-tabline)         // Subheader background, Line highlight, UI hover highlight
aya-hover           = var(--ayame-hover)           // Subheader background, Line highlight, UI hover highlight
aya-highlight       = var(--ayame-highlight)       // Subheader background, Line highlight, UI hover highlight
aya-bg500           = var(--ayame-bg500)           // Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background
aya-black           = var(--ayame-black)           // Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background
aya-gutter          = var(--ayame-gutter)          // Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background
aya-border          = var(--ayame-border)          // Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background
aya-rule            = var(--ayame-rule)            // Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background
aya-button          = var(--ayame-button)          // Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background
aya-altrow          = var(--ayame-altrow)          // Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background
aya-bg400           = var(--ayame-bg400)          
aya-bg300           = var(--ayame-bg300)          
aya-bg200           = var(--ayame-bg200)          
aya-bg100           = var(--ayame-bg100)           // Terminal Bright Black, Comments, Markdown block quotes, Folded code blocks
aya-gray            = var(--ayame-gray)            // Terminal Bright Black, Comments, Markdown block quotes, Folded code blocks
aya-comment         = var(--ayame-comment)         // Terminal Bright Black, Comments, Markdown block quotes, Folded code blocks
aya-blockquote      = var(--ayame-blockquote)      // Terminal Bright Black, Comments, Markdown block quotes, Folded code blocks
aya-folded          = var(--ayame-folded)          // Terminal Bright Black, Comments, Markdown block quotes, Folded code blocks
aya-darkgray        = var(--ayame-darkgray)        // Terminal Bright Black, Comments, Markdown block quotes, Folded code blocks
aya-fg900           = var(--ayame-fg900)          
aya-fg800           = var(--ayame-fg800)           // Highlight and focus border, Highlights in UI and modals
aya-focusborder     = var(--ayame-focusborder)     // Highlight and focus border, Highlights in UI and modals
aya-highlightborder = var(--ayame-highlightborder) // Highlight and focus border, Highlights in UI and modals
aya-modalhighlight  = var(--ayame-modalhighlight)  // Highlight and focus border, Highlights in UI and modals
aya-highlight2      = var(--ayame-highlight2)      // Highlight and focus border, Highlights in UI and modals
aya-fg700           = var(--ayame-fg700)           // Selection background
aya-selection       = var(--ayame-selection)       // Selection background
aya-fg600           = var(--ayame-fg600)          
aya-fg500           = var(--ayame-fg500)           // Markdown underline
aya-underline       = var(--ayame-underline)       // Markdown underline
aya-fg400           = var(--ayame-fg400)           // Cursor, Active border, Active line number, Subheader foreground, Badge background, Minimap and scrollbar background, Markdown table text
aya-cursor          = var(--ayame-cursor)          // Cursor, Active border, Active line number, Subheader foreground, Badge background, Minimap and scrollbar background, Markdown table text
aya-activeborder    = var(--ayame-activeborder)    // Cursor, Active border, Active line number, Subheader foreground, Badge background, Minimap and scrollbar background, Markdown table text
aya-active          = var(--ayame-active)          // Cursor, Active border, Active line number, Subheader foreground, Badge background, Minimap and scrollbar background, Markdown table text
aya-fg300           = var(--ayame-fg300)          
aya-fg100           = var(--ayame-fg100)           // Terminal Bright White, Objects
aya-white           = var(--ayame-white)           // Terminal Bright White, Objects
aya-object          = var(--ayame-object)          // Terminal Bright White, Objects
aya-bracket         = var(--ayame-bracket)         // Parentheses, Brackets, Braces
aya-lightgray       = var(--ayame-lightgray)       // Terminal White, Muted text, Punctuation
aya-darkwhite       = var(--ayame-darkwhite)       // Terminal White, Muted text, Punctuation
aya-muted           = var(--ayame-muted)           // Terminal White, Muted text, Punctuation
aya-punctuation     = var(--ayame-punctuation)     // Terminal White, Muted text, Punctuation
aya-terminator      = var(--ayame-terminator)      // Terminal White, Muted text, Punctuation
aya-foreground2     = var(--ayame-foreground2)     // Alternate foreground
aya-purewhite       = var(--ayame-purewhite)       // Extra white for lighter backgrounds, Badge foreground
aya-header          = var(--ayame-header)          // Modal header background
:root
    --ayame-background      #17131e; /* Background */
    --ayame-bg              #17131e; /* Background */
    --ayame-bg900           #17131e; /* Background */
    --ayame-foreground      #cbbade; /* Foreground */
    --ayame-fg              #cbbade; /* Foreground */
    --ayame-fg200           #cbbade; /* Foreground */
    --ayame-red             #ff577e; /* Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold */
    --ayame-deleted         #ff577e; /* Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold */
    --ayame-breakpoint      #ff577e; /* Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold */
    --ayame-stop            #ff577e; /* Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold */
    --ayame-this            #ff577e; /* Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold */
    --ayame-bold            #ff577e; /* Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold */
    --ayame-red500          #ff577e; /* Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold */
    --ayame-orange          #ff965c; /* Terminal Yellow, Warnings, Constants */
    --ayame-warning         #ff965c; /* Terminal Yellow, Warnings, Constants */
    --ayame-constant        #ff965c; /* Terminal Yellow, Warnings, Constants */
    --ayame-orange500       #ff965c; /* Terminal Yellow, Warnings, Constants */
    --ayame-yellow          #f5cb40; /* Terminal Bright Yellow, Characters, HTML attributes, CSS classes, Markdown alt text, Markdown link anchors */
    --ayame-character       #f5cb40; /* Terminal Bright Yellow, Characters, HTML attributes, CSS classes, Markdown alt text, Markdown link anchors */
    --ayame-yellow500       #f5cb40; /* Terminal Bright Yellow, Characters, HTML attributes, CSS classes, Markdown alt text, Markdown link anchors */
    --ayame-green           #96e474; /* Terminal Bright Green, Git added, Debug, Strings */
    --ayame-added           #96e474; /* Terminal Bright Green, Git added, Debug, Strings */
    --ayame-debug           #96e474; /* Terminal Bright Green, Git added, Debug, Strings */
    --ayame-string          #96e474; /* Terminal Bright Green, Git added, Debug, Strings */
    --ayame-green500        #96e474; /* Terminal Bright Green, Git added, Debug, Strings */
    --ayame-teal            #5df8a6; /* TODO comments */
    --ayame-todo            #5df8a6; /* TODO comments */
    --ayame-teal500         #5df8a6; /* TODO comments */
    --ayame-cyan            #54e7f8; /* Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics */
    --ayame-match           #54e7f8; /* Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics */
    --ayame-control         #54e7f8; /* Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics */
    --ayame-regex           #54e7f8; /* Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics */
    --ayame-escape          #54e7f8; /* Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics */
    --ayame-italics         #54e7f8; /* Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics */
    --ayame-cyan500         #54e7f8; /* Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics */
    --ayame-linkhover       #54e7f8; /* Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics */
    --ayame-blue            #44a3f5; /* Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type */
    --ayame-primary         #44a3f5; /* Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type */
    --ayame-progress        #44a3f5; /* Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type */
    --ayame-modified        #44a3f5; /* Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type */
    --ayame-hyperlink       #44a3f5; /* Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type */
    --ayame-keyword         #44a3f5; /* Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type */
    --ayame-type            #44a3f5; /* Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type */
    --ayame-blue500         #44a3f5; /* Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type */
    --ayame-purple          #9768f8; /* Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks */
    --ayame-darkmagenta     #9768f8; /* Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks */
    --ayame-secondary       #9768f8; /* Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks */
    --ayame-function        #9768f8; /* Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks */
    --ayame-fun             #9768f8; /* Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks */
    --ayame-attribute       #9768f8; /* Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks */
    --ayame-code            #9768f8; /* Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks */
    --ayame-purple500       #9768f8; /* Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks */
    --ayame-magenta         #f76ef1; /* Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords */
    --ayame-pink            #f76ef1; /* Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords */
    --ayame-tertiary        #f76ef1; /* Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords */
    --ayame-focus           #f76ef1; /* Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords */
    --ayame-operator        #f76ef1; /* Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords */
    --ayame-magenta500      #f76ef1; /* Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords */
    --ayame-value           #f76ef1; /* Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords */
    --ayame-red900          #662332; /* Error background */
    --ayame-error2          #662332; /* Error background */
    --ayame-red700          #cc4665; /* Terminal Red, Error, Invalid, Tags */
    --ayame-darkred         #cc4665; /* Terminal Red, Error, Invalid, Tags */
    --ayame-error           #cc4665; /* Terminal Red, Error, Invalid, Tags */
    --ayame-invalid         #cc4665; /* Terminal Red, Error, Invalid, Tags */
    --ayame-tag             #cc4665; /* Terminal Red, Error, Invalid, Tags */
    --ayame-red300          #ff7998;
    --ayame-red100          #ffbccb;
    --ayame-orange900       #663c25;
    --ayame-orange700       #cc784a;
    --ayame-orange300       #ffab7d;
    --ayame-orange100       #ffd5be;
    --ayame-yellow900       #62511a;
    --ayame-yellow700       #c4a233;
    --ayame-yellow300       #f7d566;
    --ayame-yellow100       #fbeab3;
    --ayame-green900        #3c5b2e;
    --ayame-green700        #78b65d; /* Terminal Green, Info, String quotation marks */
    --ayame-darkgreen       #78b65d; /* Terminal Green, Info, String quotation marks */
    --ayame-info            #78b65d; /* Terminal Green, Info, String quotation marks */
    --ayame-green300        #abe990;
    --ayame-green100        #d5f4c7;
    --ayame-teal900         #256342;
    --ayame-teal700         #4ac685;
    --ayame-teal300         #7df9b8;
    --ayame-teal100         #befcdb;
    --ayame-cyan900         #225c63;
    --ayame-cyan700         #43b9c6; /* Terminal Cyan, Classes, Identifiers, Variables */
    --ayame-darkcyan        #43b9c6; /* Terminal Cyan, Classes, Identifiers, Variables */
    --ayame-class           #43b9c6; /* Terminal Cyan, Classes, Identifiers, Variables */
    --ayame-identifier      #43b9c6; /* Terminal Cyan, Classes, Identifiers, Variables */
    --ayame-variable        #43b9c6; /* Terminal Cyan, Classes, Identifiers, Variables */
    --ayame-cyan300         #76ecf9;
    --ayame-cyan100         #bbf5fc;
    --ayame-blue900         #1b4162;
    --ayame-blue700         #3682c4; /* Terminal Blue, Bookmarks, VS Code activity badge */
    --ayame-darkblue        #3682c4; /* Terminal Blue, Bookmarks, VS Code activity badge */
    --ayame-activitybadge   #3682c4; /* Terminal Blue, Bookmarks, VS Code activity badge */
    --ayame-bookmark        #3682c4; /* Terminal Blue, Bookmarks, VS Code activity badge */
    --ayame-blue2           #3682c4; /* Terminal Blue, Bookmarks, VS Code activity badge */
    --ayame-blue300         #69b5f7;
    --ayame-blue100         #b4dafb;
    --ayame-purple900       #3c2a63;
    --ayame-purple700       #7953c6;
    --ayame-purple300       #ac86f9;
    --ayame-purple100       #d5c3fc;
    --ayame-magenta900      #632c60;
    --ayame-magenta700      #c658c1;
    --ayame-magenta300      #f98bf4;
    --ayame-magenta100      #fcc5f9;
    --ayame-bg800           #1a1528; /* Secondary borders */
    --ayame-border2         #1a1528; /* Secondary borders */
    --ayame-bg700           #221c35; /* Modal background, Checkbox background, Input background */
    --ayame-modal           #221c35; /* Modal background, Checkbox background, Input background */
    --ayame-menu            #221c35; /* Modal background, Checkbox background, Input background */
    --ayame-toolbar         #221c35; /* Modal background, Checkbox background, Input background */
    --ayame-checkbox        #221c35; /* Modal background, Checkbox background, Input background */
    --ayame-input           #221c35; /* Modal background, Checkbox background, Input background */
    --ayame-bg600           #2b2343; /* Subheader background, Line highlight, UI hover highlight */
    --ayame-subheader       #2b2343; /* Subheader background, Line highlight, UI hover highlight */
    --ayame-tabline         #2b2343; /* Subheader background, Line highlight, UI hover highlight */
    --ayame-hover           #2b2343; /* Subheader background, Line highlight, UI hover highlight */
    --ayame-highlight       #2b2343; /* Subheader background, Line highlight, UI hover highlight */
    --ayame-bg500           #342950; /* Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background */
    --ayame-black           #342950; /* Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background */
    --ayame-gutter          #342950; /* Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background */
    --ayame-border          #342950; /* Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background */
    --ayame-rule            #342950; /* Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background */
    --ayame-button          #342950; /* Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background */
    --ayame-altrow          #342950; /* Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background */
    --ayame-bg400           #3c305d;
    --ayame-bg300           #45376a;
    --ayame-bg200           #4d3e78;
    --ayame-bg100           #564585; /* Terminal Bright Black, Comments, Markdown block quotes, Folded code blocks */
    --ayame-gray            #564585; /* Terminal Bright Black, Comments, Markdown block quotes, Folded code blocks */
    --ayame-comment         #564585; /* Terminal Bright Black, Comments, Markdown block quotes, Folded code blocks */
    --ayame-blockquote      #564585; /* Terminal Bright Black, Comments, Markdown block quotes, Folded code blocks */
    --ayame-folded          #564585; /* Terminal Bright Black, Comments, Markdown block quotes, Folded code blocks */
    --ayame-darkgray        #564585; /* Terminal Bright Black, Comments, Markdown block quotes, Folded code blocks */
    --ayame-fg900           #191023;
    --ayame-fg800           #322145; /* Highlight and focus border, Highlights in UI and modals */
    --ayame-focusborder     #322145; /* Highlight and focus border, Highlights in UI and modals */
    --ayame-highlightborder #322145; /* Highlight and focus border, Highlights in UI and modals */
    --ayame-modalhighlight  #322145; /* Highlight and focus border, Highlights in UI and modals */
    --ayame-highlight2      #322145; /* Highlight and focus border, Highlights in UI and modals */
    --ayame-fg700           #4a3168; /* Selection background */
    --ayame-selection       #4a3168; /* Selection background */
    --ayame-fg600           #63428a;
    --ayame-fg500           #7c52ad; /* Markdown underline */
    --ayame-underline       #7c52ad; /* Markdown underline */
    --ayame-fg400           #9675bd; /* Cursor, Active border, Active line number, Subheader foreground, Badge background, Minimap and scrollbar background, Markdown table text */
    --ayame-cursor          #9675bd; /* Cursor, Active border, Active line number, Subheader foreground, Badge background, Minimap and scrollbar background, Markdown table text */
    --ayame-activeborder    #9675bd; /* Cursor, Active border, Active line number, Subheader foreground, Badge background, Minimap and scrollbar background, Markdown table text */
    --ayame-active          #9675bd; /* Cursor, Active border, Active line number, Subheader foreground, Badge background, Minimap and scrollbar background, Markdown table text */
    --ayame-fg300           #b097ce;
    --ayame-fg100           #e5dcef; /* Terminal Bright White, Objects */
    --ayame-white           #e5dcef; /* Terminal Bright White, Objects */
    --ayame-object          #e5dcef; /* Terminal Bright White, Objects */
    --ayame-bracket         #6c8db3; /* Parentheses, Brackets, Braces */
    --ayame-lightgray       #8a7d9b; /* Terminal White, Muted text, Punctuation */
    --ayame-darkwhite       #8a7d9b; /* Terminal White, Muted text, Punctuation */
    --ayame-muted           #8a7d9b; /* Terminal White, Muted text, Punctuation */
    --ayame-punctuation     #8a7d9b; /* Terminal White, Muted text, Punctuation */
    --ayame-terminator      #8a7d9b; /* Terminal White, Muted text, Punctuation */
    --ayame-foreground2     #bbbbbb; /* Alternate foreground */
    --ayame-purewhite       #ffffff; /* Extra white for lighter backgrounds, Badge foreground */
    --ayame-header          #0b0911; /* Modal header background */
