ayargb-background      = rgb(19 15 30)      // Background
ayargb-bg              = rgb(19 15 30)      // Background
ayargb-bg900           = rgb(19 15 30)      // Background
ayargb-foreground      = rgb(203 186 222)   // Foreground, Variables, Identifiers
ayargb-fg              = rgb(203 186 222)   // Foreground, Variables, Identifiers
ayargb-fg200           = rgb(203 186 222)   // Foreground, Variables, Identifiers
ayargb-variable        = rgb(203 186 222)   // Foreground, Variables, Identifiers
ayargb-identifier      = rgb(203 186 222)   // Foreground, Variables, Identifiers
ayargb-red             = rgb(255 87 126)    // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Header 6
ayargb-deleted         = rgb(255 87 126)    // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Header 6
ayargb-breakpoint      = rgb(255 87 126)    // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Header 6
ayargb-stop            = rgb(255 87 126)    // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Header 6
ayargb-this            = rgb(255 87 126)    // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Header 6
ayargb-red500          = rgb(255 87 126)    // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Header 6
ayargb-h6              = rgb(255 87 126)    // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Header 6
ayargb-orange          = rgb(255 135 75)    // Terminal Yellow, Warnings, Constants, Header 4, Predefined symbols, Git conflict
ayargb-warning         = rgb(255 135 75)    // Terminal Yellow, Warnings, Constants, Header 4, Predefined symbols, Git conflict
ayargb-constant        = rgb(255 135 75)    // Terminal Yellow, Warnings, Constants, Header 4, Predefined symbols, Git conflict
ayargb-orange500       = rgb(255 135 75)    // Terminal Yellow, Warnings, Constants, Header 4, Predefined symbols, Git conflict
ayargb-h4              = rgb(255 135 75)    // Terminal Yellow, Warnings, Constants, Header 4, Predefined symbols, Git conflict
ayargb-conflict        = rgb(255 135 75)    // Terminal Yellow, Warnings, Constants, Header 4, Predefined symbols, Git conflict
ayargb-yellow          = rgb(245 203 64)    // Terminal Bright Yellow, Characters, HTML attributes, CSS classes, Markdown alt text, Markdown link anchors
ayargb-character       = rgb(245 203 64)    // Terminal Bright Yellow, Characters, HTML attributes, CSS classes, Markdown alt text, Markdown link anchors
ayargb-yellow500       = rgb(245 203 64)    // Terminal Bright Yellow, Characters, HTML attributes, CSS classes, Markdown alt text, Markdown link anchors
ayargb-green           = rgb(150 228 116)   // Terminal Bright Green, Git added, Debug, Strings, Header 5, Markdown italics, Property values
ayargb-added           = rgb(150 228 116)   // Terminal Bright Green, Git added, Debug, Strings, Header 5, Markdown italics, Property values
ayargb-debug           = rgb(150 228 116)   // Terminal Bright Green, Git added, Debug, Strings, Header 5, Markdown italics, Property values
ayargb-string          = rgb(150 228 116)   // Terminal Bright Green, Git added, Debug, Strings, Header 5, Markdown italics, Property values
ayargb-green500        = rgb(150 228 116)   // Terminal Bright Green, Git added, Debug, Strings, Header 5, Markdown italics, Property values
ayargb-h5              = rgb(150 228 116)   // Terminal Bright Green, Git added, Debug, Strings, Header 5, Markdown italics, Property values
ayargb-italic          = rgb(150 228 116)   // Terminal Bright Green, Git added, Debug, Strings, Header 5, Markdown italics, Property values
ayargb-teal            = rgb(93 248 166)    // TODO comments, Inline code
ayargb-todo            = rgb(93 248 166)    // TODO comments, Inline code
ayargb-teal500         = rgb(93 248 166)    // TODO comments, Inline code
ayargb-inlinecode      = rgb(93 248 166)    // TODO comments, Inline code
ayargb-cyan            = rgb(84 231 248)    // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters
ayargb-match           = rgb(84 231 248)    // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters
ayargb-control         = rgb(84 231 248)    // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters
ayargb-regex           = rgb(84 231 248)    // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters
ayargb-escape          = rgb(84 231 248)    // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters
ayargb-cyan500         = rgb(84 231 248)    // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters
ayargb-linkhover       = rgb(84 231 248)    // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters
ayargb-blue            = rgb(68 163 245)    // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type, Header 1
ayargb-primary         = rgb(68 163 245)    // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type, Header 1
ayargb-progress        = rgb(68 163 245)    // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type, Header 1
ayargb-modified        = rgb(68 163 245)    // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type, Header 1
ayargb-hyperlink       = rgb(68 163 245)    // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type, Header 1
ayargb-keyword         = rgb(68 163 245)    // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type, Header 1
ayargb-type            = rgb(68 163 245)    // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type, Header 1
ayargb-blue500         = rgb(68 163 245)    // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type, Header 1
ayargb-h1              = rgb(68 163 245)    // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type, Header 1
ayargb-purple          = rgb(151 104 248)   // Terminal Magenta, Debug token keys, Property keys, Functions, Attributes, Markdown plain code blocks, Header 2
ayargb-darkmagenta     = rgb(151 104 248)   // Terminal Magenta, Debug token keys, Property keys, Functions, Attributes, Markdown plain code blocks, Header 2
ayargb-secondary       = rgb(151 104 248)   // Terminal Magenta, Debug token keys, Property keys, Functions, Attributes, Markdown plain code blocks, Header 2
ayargb-function        = rgb(151 104 248)   // Terminal Magenta, Debug token keys, Property keys, Functions, Attributes, Markdown plain code blocks, Header 2
ayargb-fun             = rgb(151 104 248)   // Terminal Magenta, Debug token keys, Property keys, Functions, Attributes, Markdown plain code blocks, Header 2
ayargb-attribute       = rgb(151 104 248)   // Terminal Magenta, Debug token keys, Property keys, Functions, Attributes, Markdown plain code blocks, Header 2
ayargb-code            = rgb(151 104 248)   // Terminal Magenta, Debug token keys, Property keys, Functions, Attributes, Markdown plain code blocks, Header 2
ayargb-purple500       = rgb(151 104 248)   // Terminal Magenta, Debug token keys, Property keys, Functions, Attributes, Markdown plain code blocks, Header 2
ayargb-h2              = rgb(151 104 248)   // Terminal Magenta, Debug token keys, Property keys, Functions, Attributes, Markdown plain code blocks, Header 2
ayargb-key             = rgb(151 104 248)   // Terminal Magenta, Debug token keys, Property keys, Functions, Attributes, Markdown plain code blocks, Header 2
ayargb-magenta         = rgb(247 110 241)   // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords, Markdown bold, Header 3
ayargb-pink            = rgb(247 110 241)   // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords, Markdown bold, Header 3
ayargb-tertiary        = rgb(247 110 241)   // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords, Markdown bold, Header 3
ayargb-focus           = rgb(247 110 241)   // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords, Markdown bold, Header 3
ayargb-operator        = rgb(247 110 241)   // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords, Markdown bold, Header 3
ayargb-magenta500      = rgb(247 110 241)   // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords, Markdown bold, Header 3
ayargb-pink500         = rgb(247 110 241)   // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords, Markdown bold, Header 3
ayargb-bold            = rgb(247 110 241)   // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords, Markdown bold, Header 3
ayargb-value           = rgb(247 110 241)   // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords, Markdown bold, Header 3
ayargb-h3              = rgb(247 110 241)   // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords, Markdown bold, Header 3
ayargb-red900          = rgb(113 42 57)     // Error background, Git deleted background
ayargb-error2          = rgb(113 42 57)     // Error background, Git deleted background
ayargb-red700          = rgb(197 59 93)     // Terminal Red, Error, Invalid, Tags
ayargb-darkred         = rgb(197 59 93)     // Terminal Red, Error, Invalid, Tags
ayargb-error           = rgb(197 59 93)     // Terminal Red, Error, Invalid, Tags
ayargb-invalid         = rgb(197 59 93)     // Terminal Red, Error, Invalid, Tags
ayargb-tag             = rgb(197 59 93)     // Terminal Red, Error, Invalid, Tags
ayargb-red300          = rgb(255 134 161)  
ayargb-red100          = rgb(255 185 197)  
ayargb-orange900       = rgb(121 69 44)     // Git conflic background
ayargb-orange700       = rgb(200 102 52)   
ayargb-orange300       = rgb(255 174 125)   // Parameters
ayargb-parameter       = rgb(255 174 125)   // Parameters
ayargb-orange100       = rgb(255 214 186)  
ayargb-yellow900       = rgb(132 114 58)   
ayargb-yellow700       = rgb(197 163 48)    // Verbose
ayargb-verbose         = rgb(197 163 48)    // Verbose
ayargb-yellow300       = rgb(255 237 130)  
ayargb-yellow100       = rgb(255 255 207)  
ayargb-green900        = rgb(88 123 74)     // Git added background
ayargb-green700        = rgb(118 182 91)    // Terminal Green, Info, String quotation marks
ayargb-darkgreen       = rgb(118 182 91)    // Terminal Green, Info, String quotation marks
ayargb-info            = rgb(118 182 91)    // Terminal Green, Info, String quotation marks
ayargb-green300        = rgb(191 255 163)  
ayargb-green100        = rgb(237 255 222)  
ayargb-teal900         = rgb(74 137 100)   
ayargb-teal700         = rgb(73 200 133)   
ayargb-teal300         = rgb(155 255 206)   // Instance fields
ayargb-instance        = rgb(155 255 206)   // Instance fields
ayargb-teal100         = rgb(226 255 250)  
ayargb-cyan900         = rgb(67 126 134)   
ayargb-cyan700         = rgb(65 186 200)    // Terminal Cyan, Classes
ayargb-darkcyan        = rgb(65 186 200)    // Terminal Cyan, Classes
ayargb-class           = rgb(65 186 200)    // Terminal Cyan, Classes
ayargb-cyan300         = rgb(147 255 255)   // Static fields
ayargb-static          = rgb(147 255 255)   // Static fields
ayargb-cyan100         = rgb(218 255 255)  
ayargb-blue900         = rgb(34 74 109)     // Git modified background
ayargb-blue700         = rgb(43 123 189)    // Terminal Blue, Bookmarks, VS Code activity badge
ayargb-darkblue        = rgb(43 123 189)    // Terminal Blue, Bookmarks, VS Code activity badge
ayargb-activitybadge   = rgb(43 123 189)    // Terminal Blue, Bookmarks, VS Code activity badge
ayargb-bookmark        = rgb(43 123 189)    // Terminal Blue, Bookmarks, VS Code activity badge
ayargb-blue2           = rgb(43 123 189)    // Terminal Blue, Bookmarks, VS Code activity badge
ayargb-blue300         = rgb(118 195 255)  
ayargb-blue100         = rgb(176 219 255)  
ayargb-purple900       = rgb(60 40 101)     // Active item
ayargb-activeitem      = rgb(60 40 101)     // Active item
ayargb-purple700       = rgb(111 71 189)   
ayargb-purple300       = rgb(179 143 255)   // Active item text, Named argument
ayargb-activeitemtext  = rgb(179 143 255)   // Active item text, Named argument
ayargb-purple100       = rgb(199 182 255)  
ayargb-magenta900      = rgb(118 59 115)   
ayargb-pink900         = rgb(118 59 115)   
ayargb-magenta700      = rgb(193 81 188)   
ayargb-pink700         = rgb(193 81 188)   
ayargb-magenta300      = rgb(255 155 255)   // Annotations, Metadata
ayargb-pink300         = rgb(255 155 255)   // Annotations, Metadata
ayargb-annotation      = rgb(255 155 255)   // Annotations, Metadata
ayargb-metadata        = rgb(255 155 255)   // Annotations, Metadata
ayargb-magenta100      = rgb(255 205 255)   // Reassigned local variable
ayargb-pink100         = rgb(255 205 255)   // Reassigned local variable
ayargb-reassigned      = rgb(255 205 255)   // Reassigned local variable
ayargb-bg850           = rgb(26 21 40)      // Markdown block quotes, Header Row, Secondary borders
ayargb-tabline         = rgb(26 21 40)      // Markdown block quotes, Header Row, Secondary borders
ayargb-blockquote      = rgb(26 21 40)      // Markdown block quotes, Header Row, Secondary borders
ayargb-border2         = rgb(26 21 40)      // Markdown block quotes, Header Row, Secondary borders
ayargb-bg800           = rgb(34 28 53)      // Modal background, Checkbox background, Input background
ayargb-modal           = rgb(34 28 53)      // Modal background, Checkbox background, Input background
ayargb-menu            = rgb(34 28 53)      // Modal background, Checkbox background, Input background
ayargb-toolbar         = rgb(34 28 53)      // Modal background, Checkbox background, Input background
ayargb-checkbox        = rgb(34 28 53)      // Modal background, Checkbox background, Input background
ayargb-input           = rgb(34 28 53)      // Modal background, Checkbox background, Input background
ayargb-bg750           = rgb(43 35 67)      // Subheader background, Alternate row background, Alternate modal background
ayargb-subheader       = rgb(43 35 67)      // Subheader background, Alternate row background, Alternate modal background
ayargb-altrow          = rgb(43 35 67)      // Subheader background, Alternate row background, Alternate modal background
ayargb-bg700           = rgb(52 41 80)      // Terminal Black, Line highlight, UI hover highlight, Buttons, Borders, Rules and guides
ayargb-black           = rgb(52 41 80)      // Terminal Black, Line highlight, UI hover highlight, Buttons, Borders, Rules and guides
ayargb-hover           = rgb(52 41 80)      // Terminal Black, Line highlight, UI hover highlight, Buttons, Borders, Rules and guides
ayargb-highlight       = rgb(52 41 80)      // Terminal Black, Line highlight, UI hover highlight, Buttons, Borders, Rules and guides
ayargb-border          = rgb(52 41 80)      // Terminal Black, Line highlight, UI hover highlight, Buttons, Borders, Rules and guides
ayargb-rule            = rgb(52 41 80)      // Terminal Black, Line highlight, UI hover highlight, Buttons, Borders, Rules and guides
ayargb-button          = rgb(52 41 80)      // Terminal Black, Line highlight, UI hover highlight, Buttons, Borders, Rules and guides
ayargb-bg650           = rgb(60 48 93)     
ayargb-bg600           = rgb(69 55 106)    
ayargb-bg550           = rgb(77 62 120)    
ayargb-bg500           = rgb(86 69 133)     // Terminal Bright Black, Line numbers, Folded code blocks
ayargb-gray            = rgb(86 69 133)     // Terminal Bright Black, Line numbers, Folded code blocks
ayargb-gutter          = rgb(86 69 133)     // Terminal Bright Black, Line numbers, Folded code blocks
ayargb-folded          = rgb(86 69 133)     // Terminal Bright Black, Line numbers, Folded code blocks
ayargb-darkgray        = rgb(86 69 133)     // Terminal Bright Black, Line numbers, Folded code blocks
ayargb-bg450           = rgb(103 88 145)    // Comments
ayargb-comment         = rgb(103 88 145)    // Comments
ayargb-bg400           = rgb(120 106 157)  
ayargb-bg350           = rgb(137 125 170)  
ayargb-bg300           = rgb(154 143 182)  
ayargb-bg250           = rgb(171 162 194)  
ayargb-bg200           = rgb(187 181 206)  
ayargb-bg150           = rgb(204 199 218)  
ayargb-bg100           = rgb(221 218 231)  
ayargb-fg900           = rgb(25 16 35)     
ayargb-fg850           = rgb(37 25 52)     
ayargb-fg800           = rgb(50 33 69)      // Highlight and focus border, Highlights in UI and modals
ayargb-focusborder     = rgb(50 33 69)      // Highlight and focus border, Highlights in UI and modals
ayargb-highlightborder = rgb(50 33 69)      // Highlight and focus border, Highlights in UI and modals
ayargb-modalhighlight  = rgb(50 33 69)      // Highlight and focus border, Highlights in UI and modals
ayargb-highlight2      = rgb(50 33 69)      // Highlight and focus border, Highlights in UI and modals
ayargb-fg750           = rgb(62 41 87)     
ayargb-fg700           = rgb(74 49 104)     // Selection background
ayargb-selection       = rgb(74 49 104)     // Selection background
ayargb-fg650           = rgb(87 57 121)    
ayargb-fg600           = rgb(99 66 138)    
ayargb-fg550           = rgb(112 74 156)   
ayargb-fg500           = rgb(124 82 173)    // Markdown underline
ayargb-underline       = rgb(124 82 173)    // Markdown underline
ayargb-fg450           = rgb(137 99 181)   
ayargb-fg400           = rgb(150 117 189)   // Cursor, Active border, Active line number, Subheader foreground, Badge background, Minimap and scrollbar background, Markdown table text
ayargb-cursor          = rgb(150 117 189)   // Cursor, Active border, Active line number, Subheader foreground, Badge background, Minimap and scrollbar background, Markdown table text
ayargb-activeborder    = rgb(150 117 189)   // Cursor, Active border, Active line number, Subheader foreground, Badge background, Minimap and scrollbar background, Markdown table text
ayargb-active          = rgb(150 117 189)   // Cursor, Active border, Active line number, Subheader foreground, Badge background, Minimap and scrollbar background, Markdown table text
ayargb-fg350           = rgb(163 134 198)  
ayargb-fg300           = rgb(176 151 206)   // Blockquote text
ayargb-blockquotetext  = rgb(176 151 206)   // Blockquote text
ayargb-fg250           = rgb(190 169 214)  
ayargb-fg150           = rgb(216 203 230)  
ayargb-fg100           = rgb(229 220 239)   // Terminal Bright White, Objects
ayargb-white           = rgb(229 220 239)   // Terminal Bright White, Objects
ayargb-object          = rgb(229 220 239)   // Terminal Bright White, Objects
ayargb-bracket         = rgb(108 141 179)   // Parentheses, Brackets, Braces
ayargb-lightgray       = rgb(138 125 155)   // Terminal White, Muted text, Punctuation, Unused code
ayargb-darkwhite       = rgb(138 125 155)   // Terminal White, Muted text, Punctuation, Unused code
ayargb-muted           = rgb(138 125 155)   // Terminal White, Muted text, Punctuation, Unused code
ayargb-unused          = rgb(138 125 155)   // Terminal White, Muted text, Punctuation, Unused code
ayargb-punctuation     = rgb(138 125 155)   // Terminal White, Muted text, Punctuation, Unused code
ayargb-terminator      = rgb(138 125 155)   // Terminal White, Muted text, Punctuation, Unused code
ayargb-foreground2     = rgb(187 187 187)   // Alternate foreground
ayargb-purewhite       = rgb(255 255 255)   // Extra white for lighter backgrounds, Badge foreground
ayargb-header          = rgb(11 9 17)       // Modal header background
