ayahsl-background = hsl(262, 22%, 10%) // Background
ayahsl-foreground = hsl(252, 25%, 76%) // Foreground
ayahsl-red = hsl(348, 100%, 50%) // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayahsl-darkred = hsl(345, 65%, 55%) // Terminal Red, Error, Invalid
ayahsl-yellow = hsl(46, 90%, 61%) // Terminal Bright Yellow, HTML attributes, CSS classes, Markdown alt text, Markdown link anchors
ayahsl-orange = hsl(21, 74%, 63%) // Terminal Yellow, Warnings, Constants
ayahsl-green = hsl(102, 51%, 66%) // Terminal Bright Green, Git added, Debug, Strings
ayahsl-darkgreen = hsl(116, 33%, 52%) // Terminal Green, Info, String quotation marks
ayahsl-cyan = hsl(186, 76%, 65%) // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayahsl-darkcyan = hsl(200, 50%, 60%) // Terminal Cyan, Classes
ayahsl-blue = hsl(208, 77%, 61%) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords
ayahsl-darkblue = hsl(222, 75%, 63%) // Terminal Blue, Bookmarks
ayahsl-pink = hsl(303, 77%, 66%) // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayahsl-purple = hsl(260, 77%, 67%) // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayahsl-white = hsl(251, 66%, 87%) // Terminal Bright White, Objects
ayahsl-lightgray = hsl(266, 13%, 55%) // Terminal White, Muted text, Punctuation
ayahsl-gray = hsl(243, 26%, 28%) // Terminal Bright Black, Buttons, Borders, Rules and guides, Line numbers
ayahsl-black = hsl(245, 30%, 22%) // Terminal Black, Subheader background
ayahsl-border2 = hsl(255, 31%, 5%) // Secondary borders
ayahsl-modal = hsl(257, 19%, 14%) // Modal background
ayahsl-hover = hsl(268, 30%, 18%) // Line highlight, UI hover highlight
ayahsl-altrow = hsl(256, 24%, 19%) // Alternate row background, Alternate modal background
ayahsl-focusborder = hsl(267, 33%, 25%) // Highlight and focus border
ayahsl-modalhighlight = hsl(272, 25%, 24%) // Highlights in UI and modals
ayahsl-selection = hsl(245, 34%, 33%) // Selection background
ayahsl-comment = hsl(244, 34%, 49%) // Comments, Markdown block quotes, Folded code blocks
ayahsl-cursor = hsl(250, 33%, 61%) // Cursor, Active line number, Subheader foreground, Badge background, Minimap and scrollbar background, Markdown table text
ayahsl-activitybadge = hsl(211, 100%, 50%) // VS Code activity badge
ayahsl-blue2 = hsl(218, 77%, 60%) // Alternate blue
ayahsl-bracket = hsl(212, 32%, 56%) // Parentheses, Brackets, Braces
ayahsl-error2 = hsl(344, 57%, 26%) // Error background
ayahsl-tag = hsl(357, 81%, 69%) // Tags
ayahsl-foreground2 = hsl(0, 0%, 73%) // Alternate foreground
ayahsl-purewhite = hsl(0, 0%, 100%) // Extra white for lighter backgrounds, Badge foreground
ayahsl-bg = hsl(262, 22%, 10%) // Background
ayahsl-fg = hsl(252, 25%, 76%) // Foreground
ayahsl-deleted = hsl(348, 100%, 50%) // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayahsl-breakpoint = hsl(348, 100%, 50%) // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayahsl-stop = hsl(348, 100%, 50%) // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayahsl-this = hsl(348, 100%, 50%) // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayahsl-bold = hsl(348, 100%, 50%) // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayahsl-error = hsl(345, 65%, 55%) // Terminal Red, Error, Invalid
ayahsl-invalid = hsl(345, 65%, 55%) // Terminal Red, Error, Invalid
ayahsl-darkyellow = hsl(21, 74%, 63%) // Terminal Yellow, Warnings, Constants
ayahsl-warning = hsl(21, 74%, 63%) // Terminal Yellow, Warnings, Constants
ayahsl-constant = hsl(21, 74%, 63%) // Terminal Yellow, Warnings, Constants
ayahsl-added = hsl(102, 51%, 66%) // Terminal Bright Green, Git added, Debug, Strings
ayahsl-debug = hsl(102, 51%, 66%) // Terminal Bright Green, Git added, Debug, Strings
ayahsl-string = hsl(102, 51%, 66%) // Terminal Bright Green, Git added, Debug, Strings
ayahsl-info = hsl(116, 33%, 52%) // Terminal Green, Info, String quotation marks
ayahsl-match = hsl(186, 76%, 65%) // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayahsl-control = hsl(186, 76%, 65%) // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayahsl-regex = hsl(186, 76%, 65%) // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayahsl-escape = hsl(186, 76%, 65%) // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayahsl-italics = hsl(186, 76%, 65%) // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayahsl-class = hsl(200, 50%, 60%) // Terminal Cyan, Classes
ayahsl-primary = hsl(208, 77%, 61%) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords
ayahsl-progress = hsl(208, 77%, 61%) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords
ayahsl-modified = hsl(208, 77%, 61%) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords
ayahsl-hyperlink = hsl(208, 77%, 61%) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords
ayahsl-keyword = hsl(208, 77%, 61%) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords
ayahsl-bookmark = hsl(222, 75%, 63%) // Terminal Blue, Bookmarks
ayahsl-magenta = hsl(303, 77%, 66%) // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayahsl-tertiary = hsl(303, 77%, 66%) // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayahsl-focus = hsl(303, 77%, 66%) // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayahsl-operator = hsl(303, 77%, 66%) // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayahsl-darkmagenta = hsl(260, 77%, 67%) // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayahsl-secondary = hsl(260, 77%, 67%) // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayahsl-function = hsl(260, 77%, 67%) // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayahsl-attribute = hsl(260, 77%, 67%) // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayahsl-code = hsl(260, 77%, 67%) // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayahsl-object = hsl(251, 66%, 87%) // Terminal Bright White, Objects
ayahsl-darkwhite = hsl(266, 13%, 55%) // Terminal White, Muted text, Punctuation
ayahsl-muted = hsl(266, 13%, 55%) // Terminal White, Muted text, Punctuation
ayahsl-punctuation = hsl(266, 13%, 55%) // Terminal White, Muted text, Punctuation
ayahsl-terminator = hsl(266, 13%, 55%) // Terminal White, Muted text, Punctuation
ayahsl-gutter = hsl(243, 26%, 28%) // Terminal Bright Black, Buttons, Borders, Rules and guides, Line numbers
ayahsl-border = hsl(243, 26%, 28%) // Terminal Bright Black, Buttons, Borders, Rules and guides, Line numbers
ayahsl-rule = hsl(243, 26%, 28%) // Terminal Bright Black, Buttons, Borders, Rules and guides, Line numbers
ayahsl-button = hsl(243, 26%, 28%) // Terminal Bright Black, Buttons, Borders, Rules and guides, Line numbers
ayahsl-subheader = hsl(245, 30%, 22%) // Terminal Black, Subheader background
ayahsl-tabline = hsl(245, 30%, 22%) // Terminal Black, Subheader background
ayahsl-header = hsl(255, 31%, 5%) // Secondary borders
ayahsl-menu = hsl(257, 19%, 14%) // Modal background
ayahsl-toolbar = hsl(257, 19%, 14%) // Modal background
ayahsl-highlight = hsl(268, 30%, 18%) // Line highlight, UI hover highlight
ayahsl-highlightborder = hsl(267, 33%, 25%) // Highlight and focus border
ayahsl-highlight2 = hsl(272, 25%, 24%) // Highlights in UI and modals
