ayahsl-black = hsl(262, 22%, 10%) // Editor background
ayahsl-white = hsl(252, 25%, 76%) // Editor foreground
ayahsl-red = hsl(345, 78%, 62%) // Terminal Red
ayahsl-orange = hsl(21, 74%, 63%)
ayahsl-yellow = hsl(35, 79%, 67%) // Terminal Yellow
ayahsl-green = hsl(109, 52%, 62%) // Terminal Green
ayahsl-teal = hsl(148, 72%, 63%)
ayahsl-cyan = hsl(179, 78%, 62%) // Terminal Cyan
ayahsl-blue = hsl(208, 78%, 62%) // Terminal Blue
ayahsl-purple = hsl(261, 78%, 62%) // Terminal Magenta
ayahsl-pink = hsl(303, 59%, 53%)
ayahsl-comment = hsl(244, 32%, 39%) // Comments
ayahsl-highlight = hsl(268, 30%, 18%) // Cursor line highlight
ayahsl-gutter = hsl(243, 26%, 28%) // Gutter foreground, Line numbers, Terminal Black
ayahsl-cursor = hsl(251, 33%, 61%) // Terminal cursor, Current line number
ayahsl-terminator = hsl(266, 13%, 55%) // Terminal White
ayahsl-bracket = hsl(212, 32%, 56%) // Parentheses, Brackets, Braces
ayahsl-header = hsl(255, 31%, 5%)
ayahsl-tabline = hsl(245, 30%, 22%) // Active tab, Table header
ayahsl-modal = hsl(257, 19%, 14%) // Modal background
ayahsl-altrow = hsl(256, 24%, 19%) // Alternate row background
ayahsl-thisrow = hsl(272, 25%, 24%) // Active row highlight
ayahsl-background = hsl(262, 22%, 10%) // Editor background
ayahsl-foreground = hsl(252, 25%, 76%) // Editor foreground
ayahsl-error = hsl(345, 78%, 62%) // Terminal Red
ayahsl-constant = hsl(21, 74%, 63%)
ayahsl-warning = hsl(35, 79%, 67%) // Terminal Yellow
ayahsl-info = hsl(109, 52%, 62%) // Terminal Green
ayahsl-todo = hsl(148, 72%, 63%)
ayahsl-primary = hsl(208, 78%, 62%) // Terminal Blue
ayahsl-secondary = hsl(261, 78%, 62%) // Terminal Magenta
ayahsl-magenta = hsl(261, 78%, 62%) // Terminal Magenta
ayahsl-accent = hsl(303, 59%, 53%)
ayahsl-gray = hsl(244, 32%, 39%) // Comments
ayahsl-muted = hsl(244, 32%, 39%) // Comments
ayahsl-light-gray = hsl(266, 13%, 55%) // Terminal White
