ayargb-background = rgb(23, 19, 30) // Background
ayargb-foreground = rgb(186, 180, 210) // Foreground
ayargb-red = rgb(255, 99, 148) // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayargb-darkred = rgb(215, 67, 104) // Terminal Red, Error, Invalid
ayargb-yellow = rgb(245, 203, 64) // Terminal Bright Yellow, HTML attributes, CSS classes, Markdown alt text, Markdown link anchors
ayargb-orange = rgb(231, 141, 91) // Terminal Yellow, Warnings, Constants
ayargb-green = rgb(152, 213, 126) // Terminal Bright Green, Git added, Debug, Strings
ayargb-darkgreen = rgb(99, 174, 93) // Terminal Green, Info, String quotation marks
ayargb-cyan = rgb(99, 220, 234) // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayargb-darkcyan = rgb(100, 169, 204) // Terminal Cyan, Classes
ayargb-blue = rgb(81, 162, 232) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords
ayargb-darkblue = rgb(89, 132, 231) // Terminal Blue, Bookmarks
ayargb-pink = rgb(235, 104, 229) // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayargb-purple = rgb(150, 108, 236) // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayargb-white = rgb(209, 201, 244) // Terminal Bright White, Objects
ayargb-lightgray = rgb(138, 125, 155) // Terminal White, Muted text, Punctuation
ayargb-gray = rgb(55, 53, 90) // Terminal Bright Black, Buttons, Borders, Rules and guides, Line numbers
ayargb-black = rgb(43, 40, 74) // Terminal Black, Subheader background
ayargb-border2 = rgb(11, 9, 17) // Secondary borders
ayargb-modal = rgb(33, 29, 43) // Modal background
ayargb-hover = rgb(45, 32, 60) // Line highlight, UI hover highlight
ayargb-altrow = rgb(43, 37, 60) // Alternate row background, Alternate modal background
ayargb-focusborder = rgb(61, 42, 84) // Highlight and focus border
ayargb-modalhighlight = rgb(62, 46, 76) // Highlights in UI and modals
ayargb-selection = rgb(60, 55, 111) // Selection background
ayargb-comment = rgb(89, 83, 167) // Comments, Markdown block quotes, Folded code blocks
ayargb-cursor = rgb(133, 122, 188) // Cursor, Active line number, Subheader foreground, Badge background, Minimap and scrollbar background, Markdown table text
ayargb-activitybadge = rgb(0, 122, 204) // VS Code activity badge
ayargb-blue2 = rgb(73, 132, 231) // Alternate blue
ayargb-bracket = rgb(108, 141, 179) // Parentheses, Brackets, Braces
ayargb-error2 = rgb(106, 29, 49) // Error background
ayargb-tag = rgb(240, 113, 120) // Tags
ayargb-foreground2 = rgb(187, 187, 187) // Alternate foreground
ayargb-purewhite = rgb(255, 255, 255) // Extra white for lighter backgrounds, Badge foreground
ayargb-teal = rgb(94, 229, 157) // TODO comments
ayargb-bg = rgb(23, 19, 30) // Background
ayargb-fg = rgb(186, 180, 210) // Foreground
ayargb-deleted = rgb(255, 99, 148) // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayargb-breakpoint = rgb(255, 99, 148) // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayargb-stop = rgb(255, 99, 148) // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayargb-this = rgb(255, 99, 148) // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayargb-bold = rgb(255, 99, 148) // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayargb-error = rgb(215, 67, 104) // Terminal Red, Error, Invalid
ayargb-invalid = rgb(215, 67, 104) // Terminal Red, Error, Invalid
ayargb-darkyellow = rgb(231, 141, 91) // Terminal Yellow, Warnings, Constants
ayargb-warning = rgb(231, 141, 91) // Terminal Yellow, Warnings, Constants
ayargb-constant = rgb(231, 141, 91) // Terminal Yellow, Warnings, Constants
ayargb-added = rgb(152, 213, 126) // Terminal Bright Green, Git added, Debug, Strings
ayargb-debug = rgb(152, 213, 126) // Terminal Bright Green, Git added, Debug, Strings
ayargb-string = rgb(152, 213, 126) // Terminal Bright Green, Git added, Debug, Strings
ayargb-info = rgb(99, 174, 93) // Terminal Green, Info, String quotation marks
ayargb-match = rgb(99, 220, 234) // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayargb-control = rgb(99, 220, 234) // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayargb-regex = rgb(99, 220, 234) // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayargb-escape = rgb(99, 220, 234) // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayargb-italics = rgb(99, 220, 234) // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayargb-class = rgb(100, 169, 204) // Terminal Cyan, Classes
ayargb-primary = rgb(81, 162, 232) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords
ayargb-progress = rgb(81, 162, 232) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords
ayargb-modified = rgb(81, 162, 232) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords
ayargb-hyperlink = rgb(81, 162, 232) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords
ayargb-keyword = rgb(81, 162, 232) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords
ayargb-bookmark = rgb(89, 132, 231) // Terminal Blue, Bookmarks
ayargb-magenta = rgb(235, 104, 229) // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayargb-tertiary = rgb(235, 104, 229) // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayargb-focus = rgb(235, 104, 229) // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayargb-operator = rgb(235, 104, 229) // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayargb-darkmagenta = rgb(150, 108, 236) // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayargb-secondary = rgb(150, 108, 236) // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayargb-function = rgb(150, 108, 236) // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayargb-attribute = rgb(150, 108, 236) // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayargb-code = rgb(150, 108, 236) // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayargb-object = rgb(209, 201, 244) // Terminal Bright White, Objects
ayargb-darkwhite = rgb(138, 125, 155) // Terminal White, Muted text, Punctuation
ayargb-muted = rgb(138, 125, 155) // Terminal White, Muted text, Punctuation
ayargb-punctuation = rgb(138, 125, 155) // Terminal White, Muted text, Punctuation
ayargb-terminator = rgb(138, 125, 155) // Terminal White, Muted text, Punctuation
ayargb-gutter = rgb(55, 53, 90) // Terminal Bright Black, Buttons, Borders, Rules and guides, Line numbers
ayargb-border = rgb(55, 53, 90) // Terminal Bright Black, Buttons, Borders, Rules and guides, Line numbers
ayargb-rule = rgb(55, 53, 90) // Terminal Bright Black, Buttons, Borders, Rules and guides, Line numbers
ayargb-button = rgb(55, 53, 90) // Terminal Bright Black, Buttons, Borders, Rules and guides, Line numbers
ayargb-subheader = rgb(43, 40, 74) // Terminal Black, Subheader background
ayargb-tabline = rgb(43, 40, 74) // Terminal Black, Subheader background
ayargb-header = rgb(11, 9, 17) // Secondary borders
ayargb-menu = rgb(33, 29, 43) // Modal background
ayargb-toolbar = rgb(33, 29, 43) // Modal background
ayargb-highlight = rgb(45, 32, 60) // Line highlight, UI hover highlight
ayargb-highlightborder = rgb(61, 42, 84) // Highlight and focus border
ayargb-highlight2 = rgb(62, 46, 76) // Highlights in UI and modals
ayargb-todo = rgb(94, 229, 157) // TODO comments
