ayahex-black = #17131e // Editor background
ayahex-white = #bab4d2 // Editor foreground
ayahex-red = #ea5279 // Terminal Red
ayahex-orange = #e78d5b
ayahex-yellow = #f5cb40 // Terminal Yellow
ayahex-green = #79c952 // Terminal Green
ayahex-teal = #5ee59d
ayahex-cyan = #52eae8 // Terminal Cyan
ayahex-blue = #52a4ea // Terminal Blue
ayahex-purple = #8852ea // Terminal Magenta
ayahex-pink = #cd40c7
ayahex-comment = #474383 // Comments
ayahex-highlight = #2d203c // Cursor line highlight
ayahex-gutter = #37355a // Gutter foreground, Line numbers, Terminal Black
ayahex-cursor = #8579bc // Terminal cursor, Current line number
ayahex-terminator = #8a7d9b // Terminal White
ayahex-bracket = #6c8db3 // Parentheses, Brackets, Braces
ayahex-header = #0b0911
ayahex-tabline = #2b284a // Active tab, Table header
ayahex-modal = #211d2b // Modal background
ayahex-altrow = #2b253c // Alternate row background
ayahex-thisrow = #3e2e4c // Active row highlight
ayahex-background = #17131e // Editor background
ayahex-foreground = #bab4d2 // Editor foreground
ayahex-error = #ea5279 // Terminal Red
ayahex-constant = #e78d5b
ayahex-warning = #f5cb40 // Terminal Yellow
ayahex-info = #79c952 // Terminal Green
ayahex-todo = #5ee59d
ayahex-primary = #52a4ea // Terminal Blue
ayahex-secondary = #8852ea // Terminal Magenta
ayahex-magenta = #8852ea // Terminal Magenta
ayahex-accent = #cd40c7
ayahex-gray = #474383 // Comments
ayahex-muted = #474383 // Comments
ayahex-light-gray = #8a7d9b // Terminal White
