ayahex-background = #17131e // Background
ayahex-foreground = #cbbade // Foreground, Variables, Identifiers
ayahex-red = #ff577e // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayahex-orange = #ff965c // Terminal Yellow, Warnings, Constants
ayahex-yellow = #f5cb40 // Terminal Bright Yellow, Characters, HTML attributes, CSS classes, Markdown alt text, Markdown link anchors
ayahex-green = #96e474 // Terminal Bright Green, Git added, Debug, Strings
ayahex-teal = #5df8a6 // TODO comments
ayahex-cyan = #54e7f8 // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayahex-blue = #44a3f5 // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
ayahex-purple = #9768f8 // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayahex-magenta = #f76ef1 // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayahex-red900 = #662332 // Error background
ayahex-red700 = #cc4665 // Terminal Red, Error, Invalid, Tags
ayahex-red300 = #ff7998
ayahex-red100 = #ffbccb
ayahex-orange900 = #663c25
ayahex-orange700 = #cc784a
ayahex-orange300 = #ffab7d
ayahex-orange100 = #ffd5be
ayahex-yellow900 = #62511a
ayahex-yellow700 = #c4a233
ayahex-yellow300 = #f7d566
ayahex-yellow100 = #fbeab3
ayahex-green900 = #3c5b2e
ayahex-green700 = #78b65d // Terminal Green, Info, String quotation marks
ayahex-green300 = #abe990
ayahex-green100 = #d5f4c7
ayahex-teal900 = #256342
ayahex-teal700 = #4ac685
ayahex-teal300 = #7df9b8
ayahex-teal100 = #befcdb
ayahex-cyan900 = #225c63
ayahex-cyan700 = #43b9c6 // Terminal Cyan, Classes
ayahex-cyan300 = #76ecf9
ayahex-cyan100 = #bbf5fc
ayahex-blue900 = #1b4162
ayahex-blue700 = #3682c4 // Terminal Blue, Bookmarks, VS Code activity badge
ayahex-blue300 = #69b5f7
ayahex-blue100 = #b4dafb
ayahex-purple900 = #3c2a63
ayahex-purple700 = #7953c6
ayahex-purple300 = #ac86f9
ayahex-purple100 = #d5c3fc
ayahex-magenta900 = #632c60
ayahex-magenta700 = #c658c1
ayahex-magenta300 = #f98bf4
ayahex-magenta100 = #fcc5f9
ayahex-bg800 = #1a1528 // Secondary borders
ayahex-bg700 = #221c35 // Modal background, Checkbox background, Input background
ayahex-bg600 = #2b2343 // Subheader background, Line highlight, UI hover highlight
ayahex-bg500 = #342950 // Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background
ayahex-bg400 = #3c305d
ayahex-bg300 = #45376a
ayahex-bg200 = #4d3e78
ayahex-bg100 = #564585 // Terminal Bright Black, Comments, Markdown block quotes, Folded code blocks
ayahex-fg900 = #191023
ayahex-fg800 = #322145 // Highlight and focus border, Highlights in UI and modals
ayahex-fg700 = #4a3168 // Selection background
ayahex-fg600 = #63428a
ayahex-fg500 = #7c52ad // Markdown underline
ayahex-fg400 = #9675bd // Cursor, Active border, Active line number, Subheader foreground, Badge background, Minimap and scrollbar background, Markdown table text
ayahex-fg300 = #b097ce
ayahex-fg100 = #e5dcef // Terminal Bright White, Objects
ayahex-bracket = #6c8db3 // Parentheses, Brackets, Braces
ayahex-lightgray = #8a7d9b // Terminal White, Muted text, Punctuation
ayahex-foreground2 = #bbbbbb // Alternate foreground
ayahex-purewhite = #ffffff // Extra white for lighter backgrounds, Badge foreground
ayahex-header = #0b0911 // Modal header background
ayahex-bg = #17131e // Background
ayahex-bg900 = #17131e // Background
ayahex-fg = #cbbade // Foreground, Variables, Identifiers
ayahex-fg200 = #cbbade // Foreground, Variables, Identifiers
ayahex-variable = #cbbade // Foreground, Variables, Identifiers
ayahex-identifier = #cbbade // Foreground, Variables, Identifiers
ayahex-deleted = #ff577e // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayahex-breakpoint = #ff577e // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayahex-stop = #ff577e // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayahex-this = #ff577e // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayahex-bold = #ff577e // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayahex-red500 = #ff577e // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayahex-warning = #ff965c // Terminal Yellow, Warnings, Constants
ayahex-constant = #ff965c // Terminal Yellow, Warnings, Constants
ayahex-orange500 = #ff965c // Terminal Yellow, Warnings, Constants
ayahex-character = #f5cb40 // Terminal Bright Yellow, Characters, HTML attributes, CSS classes, Markdown alt text, Markdown link anchors
ayahex-yellow500 = #f5cb40 // Terminal Bright Yellow, Characters, HTML attributes, CSS classes, Markdown alt text, Markdown link anchors
ayahex-added = #96e474 // Terminal Bright Green, Git added, Debug, Strings
ayahex-debug = #96e474 // Terminal Bright Green, Git added, Debug, Strings
ayahex-string = #96e474 // Terminal Bright Green, Git added, Debug, Strings
ayahex-green500 = #96e474 // Terminal Bright Green, Git added, Debug, Strings
ayahex-todo = #5df8a6 // TODO comments
ayahex-teal500 = #5df8a6 // TODO comments
ayahex-match = #54e7f8 // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayahex-control = #54e7f8 // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayahex-regex = #54e7f8 // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayahex-escape = #54e7f8 // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayahex-italics = #54e7f8 // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayahex-cyan500 = #54e7f8 // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayahex-linkhover = #54e7f8 // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayahex-primary = #44a3f5 // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
ayahex-progress = #44a3f5 // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
ayahex-modified = #44a3f5 // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
ayahex-hyperlink = #44a3f5 // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
ayahex-keyword = #44a3f5 // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
ayahex-type = #44a3f5 // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
ayahex-blue500 = #44a3f5 // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
ayahex-darkmagenta = #9768f8 // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayahex-secondary = #9768f8 // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayahex-function = #9768f8 // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayahex-fun = #9768f8 // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayahex-attribute = #9768f8 // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayahex-code = #9768f8 // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayahex-purple500 = #9768f8 // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayahex-pink = #f76ef1 // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayahex-tertiary = #f76ef1 // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayahex-focus = #f76ef1 // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayahex-operator = #f76ef1 // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayahex-magenta500 = #f76ef1 // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayahex-value = #f76ef1 // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayahex-error2 = #662332 // Error background
ayahex-darkred = #cc4665 // Terminal Red, Error, Invalid, Tags
ayahex-error = #cc4665 // Terminal Red, Error, Invalid, Tags
ayahex-invalid = #cc4665 // Terminal Red, Error, Invalid, Tags
ayahex-tag = #cc4665 // Terminal Red, Error, Invalid, Tags
ayahex-darkgreen = #78b65d // Terminal Green, Info, String quotation marks
ayahex-info = #78b65d // Terminal Green, Info, String quotation marks
ayahex-darkcyan = #43b9c6 // Terminal Cyan, Classes
ayahex-class = #43b9c6 // Terminal Cyan, Classes
ayahex-darkblue = #3682c4 // Terminal Blue, Bookmarks, VS Code activity badge
ayahex-activitybadge = #3682c4 // Terminal Blue, Bookmarks, VS Code activity badge
ayahex-bookmark = #3682c4 // Terminal Blue, Bookmarks, VS Code activity badge
ayahex-blue2 = #3682c4 // Terminal Blue, Bookmarks, VS Code activity badge
ayahex-border2 = #1a1528 // Secondary borders
ayahex-modal = #221c35 // Modal background, Checkbox background, Input background
ayahex-menu = #221c35 // Modal background, Checkbox background, Input background
ayahex-toolbar = #221c35 // Modal background, Checkbox background, Input background
ayahex-checkbox = #221c35 // Modal background, Checkbox background, Input background
ayahex-input = #221c35 // Modal background, Checkbox background, Input background
ayahex-subheader = #2b2343 // Subheader background, Line highlight, UI hover highlight
ayahex-tabline = #2b2343 // Subheader background, Line highlight, UI hover highlight
ayahex-hover = #2b2343 // Subheader background, Line highlight, UI hover highlight
ayahex-highlight = #2b2343 // Subheader background, Line highlight, UI hover highlight
ayahex-black = #342950 // Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background
ayahex-gutter = #342950 // Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background
ayahex-border = #342950 // Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background
ayahex-rule = #342950 // Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background
ayahex-button = #342950 // Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background
ayahex-altrow = #342950 // Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background
ayahex-gray = #564585 // Terminal Bright Black, Comments, Markdown block quotes, Folded code blocks
ayahex-comment = #564585 // Terminal Bright Black, Comments, Markdown block quotes, Folded code blocks
ayahex-blockquote = #564585 // Terminal Bright Black, Comments, Markdown block quotes, Folded code blocks
ayahex-folded = #564585 // Terminal Bright Black, Comments, Markdown block quotes, Folded code blocks
ayahex-darkgray = #564585 // Terminal Bright Black, Comments, Markdown block quotes, Folded code blocks
ayahex-focusborder = #322145 // Highlight and focus border, Highlights in UI and modals
ayahex-highlightborder = #322145 // Highlight and focus border, Highlights in UI and modals
ayahex-modalhighlight = #322145 // Highlight and focus border, Highlights in UI and modals
ayahex-highlight2 = #322145 // Highlight and focus border, Highlights in UI and modals
ayahex-selection = #4a3168 // Selection background
ayahex-underline = #7c52ad // Markdown underline
ayahex-cursor = #9675bd // Cursor, Active border, Active line number, Subheader foreground, Badge background, Minimap and scrollbar background, Markdown table text
ayahex-activeborder = #9675bd // Cursor, Active border, Active line number, Subheader foreground, Badge background, Minimap and scrollbar background, Markdown table text
ayahex-active = #9675bd // Cursor, Active border, Active line number, Subheader foreground, Badge background, Minimap and scrollbar background, Markdown table text
ayahex-white = #e5dcef // Terminal Bright White, Objects
ayahex-object = #e5dcef // Terminal Bright White, Objects
ayahex-darkwhite = #8a7d9b // Terminal White, Muted text, Punctuation
ayahex-muted = #8a7d9b // Terminal White, Muted text, Punctuation
ayahex-punctuation = #8a7d9b // Terminal White, Muted text, Punctuation
ayahex-terminator = #8a7d9b // Terminal White, Muted text, Punctuation
