ayargb-black = rgb(23, 19, 30) // Editor background
ayargb-white = rgb(186, 180, 210) // Editor foreground
ayargb-red = rgb(234, 82, 121) // Terminal Red
ayargb-orange = rgb(231, 141, 91)
ayargb-yellow = rgb(245, 203, 64) // Terminal Yellow
ayargb-green = rgb(125, 208, 107) // Terminal Green
ayargb-teal = rgb(94, 229, 157)
ayargb-cyan = rgb(82, 234, 232) // Terminal Cyan
ayargb-blue = rgb(82, 164, 234) // Terminal Blue
ayargb-purple = rgb(136, 82, 234) // Terminal Magenta
ayargb-pink = rgb(205, 64, 199)
ayargb-comment = rgb(71, 67, 131) // Comments
ayargb-highlight = rgb(45, 32, 60) // Cursor line highlight
ayargb-gutter = rgb(55, 53, 90) // Gutter foreground, Line numbers, Terminal Black
ayargb-cursor = rgb(133, 121, 188) // Terminal cursor, Current line number
ayargb-terminator = rgb(138, 125, 155) // Terminal White
ayargb-bracket = rgb(108, 141, 179) // Parentheses, Brackets, Braces
ayargb-header = rgb(11, 9, 17)
ayargb-tabline = rgb(43, 40, 74) // Active tab, Table header
ayargb-modal = rgb(33, 29, 43) // Modal background
ayargb-altrow = rgb(43, 37, 60) // Alternate row background
ayargb-thisrow = rgb(62, 46, 76) // Active row highlight
ayargb-background = rgb(23, 19, 30) // Editor background
ayargb-foreground = rgb(186, 180, 210) // Editor foreground
ayargb-error = rgb(234, 82, 121) // Terminal Red
ayargb-constant = rgb(231, 141, 91)
ayargb-warning = rgb(245, 203, 64) // Terminal Yellow
ayargb-info = rgb(125, 208, 107) // Terminal Green
ayargb-todo = rgb(94, 229, 157)
ayargb-primary = rgb(82, 164, 234) // Terminal Blue
ayargb-secondary = rgb(136, 82, 234) // Terminal Magenta
ayargb-magenta = rgb(136, 82, 234) // Terminal Magenta
ayargb-accent = rgb(205, 64, 199)
ayargb-gray = rgb(71, 67, 131) // Comments
ayargb-muted = rgb(71, 67, 131) // Comments
ayargb-light-gray = rgb(138, 125, 155) // Terminal White
