ayargb-background = rgb(23, 19, 30) // Background
ayargb-foreground = rgb(203, 186, 222) // Foreground
ayargb-red = rgb(255, 87, 126) // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayargb-orange = rgb(255, 150, 92) // Terminal Yellow, Warnings, Constants
ayargb-yellow = rgb(245, 203, 64) // Terminal Bright Yellow, Characters, HTML attributes, CSS classes, Markdown alt text, Markdown link anchors
ayargb-green = rgb(150, 228, 116) // Terminal Bright Green, Git added, Debug, Strings
ayargb-teal = rgb(93, 248, 166) // TODO comments
ayargb-cyan = rgb(84, 231, 248) // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayargb-blue = rgb(68, 163, 245) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
ayargb-purple = rgb(151, 104, 248) // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayargb-magenta = rgb(247, 110, 241) // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayargb-red900 = rgb(102, 35, 50) // Error background
ayargb-red700 = rgb(204, 70, 101) // Terminal Red, Error, Invalid, Tags
ayargb-red300 = rgb(255, 121, 152)
ayargb-red100 = rgb(255, 188, 203)
ayargb-orange900 = rgb(102, 60, 37)
ayargb-orange700 = rgb(204, 120, 74)
ayargb-orange300 = rgb(255, 171, 125)
ayargb-orange100 = rgb(255, 213, 190)
ayargb-yellow900 = rgb(98, 81, 26)
ayargb-yellow700 = rgb(196, 162, 51)
ayargb-yellow300 = rgb(247, 213, 102)
ayargb-yellow100 = rgb(251, 234, 179)
ayargb-green900 = rgb(60, 91, 46)
ayargb-green700 = rgb(120, 182, 93) // Terminal Green, Info, String quotation marks
ayargb-green300 = rgb(171, 233, 144)
ayargb-green100 = rgb(213, 244, 199)
ayargb-teal900 = rgb(37, 99, 66)
ayargb-teal700 = rgb(74, 198, 133)
ayargb-teal300 = rgb(125, 249, 184)
ayargb-teal100 = rgb(190, 252, 219)
ayargb-cyan900 = rgb(34, 92, 99)
ayargb-cyan700 = rgb(67, 185, 198) // Terminal Cyan, Classes, Identifiers, Variables
ayargb-cyan300 = rgb(118, 236, 249)
ayargb-cyan100 = rgb(187, 245, 252)
ayargb-blue900 = rgb(27, 65, 98)
ayargb-blue700 = rgb(54, 130, 196) // Terminal Blue, Bookmarks, VS Code activity badge
ayargb-blue300 = rgb(105, 181, 247)
ayargb-blue100 = rgb(180, 218, 251)
ayargb-purple900 = rgb(60, 42, 99)
ayargb-purple700 = rgb(121, 83, 198)
ayargb-purple300 = rgb(172, 134, 249)
ayargb-purple100 = rgb(213, 195, 252)
ayargb-magenta900 = rgb(99, 44, 96)
ayargb-magenta700 = rgb(198, 88, 193)
ayargb-magenta300 = rgb(249, 139, 244)
ayargb-magenta100 = rgb(252, 197, 249)
ayargb-bg800 = rgb(26, 21, 40) // Secondary borders
ayargb-bg700 = rgb(34, 28, 53) // Modal background, Checkbox background, Input background
ayargb-bg600 = rgb(43, 35, 67) // Subheader background, Line highlight, UI hover highlight
ayargb-bg500 = rgb(52, 41, 80) // Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background
ayargb-bg400 = rgb(60, 48, 93)
ayargb-bg300 = rgb(69, 55, 106)
ayargb-bg200 = rgb(77, 62, 120)
ayargb-bg100 = rgb(86, 69, 133) // Terminal Bright Black, Comments, Markdown block quotes, Folded code blocks
ayargb-fg900 = rgb(25, 16, 35)
ayargb-fg800 = rgb(50, 33, 69) // Highlight and focus border, Highlights in UI and modals
ayargb-fg700 = rgb(74, 49, 104) // Selection background
ayargb-fg600 = rgb(99, 66, 138)
ayargb-fg500 = rgb(124, 82, 173) // Markdown underline
ayargb-fg400 = rgb(150, 117, 189) // Cursor, Active border, Active line number, Subheader foreground, Badge background, Minimap and scrollbar background, Markdown table text
ayargb-fg300 = rgb(176, 151, 206)
ayargb-fg100 = rgb(229, 220, 239) // Terminal Bright White, Objects
ayargb-bracket = rgb(108, 141, 179) // Parentheses, Brackets, Braces
ayargb-lightgray = rgb(138, 125, 155) // Terminal White, Muted text, Punctuation
ayargb-foreground2 = rgb(187, 187, 187) // Alternate foreground
ayargb-purewhite = rgb(255, 255, 255) // Extra white for lighter backgrounds, Badge foreground
ayargb-header = rgb(11, 9, 17) // Modal header background
ayargb-bg = rgb(23, 19, 30) // Background
ayargb-bg900 = rgb(23, 19, 30) // Background
ayargb-fg = rgb(203, 186, 222) // Foreground
ayargb-fg200 = rgb(203, 186, 222) // Foreground
ayargb-deleted = rgb(255, 87, 126) // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayargb-breakpoint = rgb(255, 87, 126) // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayargb-stop = rgb(255, 87, 126) // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayargb-this = rgb(255, 87, 126) // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayargb-bold = rgb(255, 87, 126) // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayargb-red500 = rgb(255, 87, 126) // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayargb-warning = rgb(255, 150, 92) // Terminal Yellow, Warnings, Constants
ayargb-constant = rgb(255, 150, 92) // Terminal Yellow, Warnings, Constants
ayargb-orange500 = rgb(255, 150, 92) // Terminal Yellow, Warnings, Constants
ayargb-character = rgb(245, 203, 64) // Terminal Bright Yellow, Characters, HTML attributes, CSS classes, Markdown alt text, Markdown link anchors
ayargb-yellow500 = rgb(245, 203, 64) // Terminal Bright Yellow, Characters, HTML attributes, CSS classes, Markdown alt text, Markdown link anchors
ayargb-added = rgb(150, 228, 116) // Terminal Bright Green, Git added, Debug, Strings
ayargb-debug = rgb(150, 228, 116) // Terminal Bright Green, Git added, Debug, Strings
ayargb-string = rgb(150, 228, 116) // Terminal Bright Green, Git added, Debug, Strings
ayargb-green500 = rgb(150, 228, 116) // Terminal Bright Green, Git added, Debug, Strings
ayargb-todo = rgb(93, 248, 166) // TODO comments
ayargb-teal500 = rgb(93, 248, 166) // TODO comments
ayargb-match = rgb(84, 231, 248) // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayargb-control = rgb(84, 231, 248) // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayargb-regex = rgb(84, 231, 248) // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayargb-escape = rgb(84, 231, 248) // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayargb-italics = rgb(84, 231, 248) // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayargb-cyan500 = rgb(84, 231, 248) // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayargb-linkhover = rgb(84, 231, 248) // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayargb-primary = rgb(68, 163, 245) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
ayargb-progress = rgb(68, 163, 245) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
ayargb-modified = rgb(68, 163, 245) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
ayargb-hyperlink = rgb(68, 163, 245) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
ayargb-keyword = rgb(68, 163, 245) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
ayargb-type = rgb(68, 163, 245) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
ayargb-blue500 = rgb(68, 163, 245) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
ayargb-darkmagenta = rgb(151, 104, 248) // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayargb-secondary = rgb(151, 104, 248) // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayargb-function = rgb(151, 104, 248) // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayargb-fun = rgb(151, 104, 248) // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayargb-attribute = rgb(151, 104, 248) // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayargb-code = rgb(151, 104, 248) // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayargb-purple500 = rgb(151, 104, 248) // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayargb-pink = rgb(247, 110, 241) // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayargb-tertiary = rgb(247, 110, 241) // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayargb-focus = rgb(247, 110, 241) // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayargb-operator = rgb(247, 110, 241) // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayargb-magenta500 = rgb(247, 110, 241) // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayargb-value = rgb(247, 110, 241) // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayargb-error2 = rgb(102, 35, 50) // Error background
ayargb-darkred = rgb(204, 70, 101) // Terminal Red, Error, Invalid, Tags
ayargb-error = rgb(204, 70, 101) // Terminal Red, Error, Invalid, Tags
ayargb-invalid = rgb(204, 70, 101) // Terminal Red, Error, Invalid, Tags
ayargb-tag = rgb(204, 70, 101) // Terminal Red, Error, Invalid, Tags
ayargb-darkgreen = rgb(120, 182, 93) // Terminal Green, Info, String quotation marks
ayargb-info = rgb(120, 182, 93) // Terminal Green, Info, String quotation marks
ayargb-darkcyan = rgb(67, 185, 198) // Terminal Cyan, Classes, Identifiers, Variables
ayargb-class = rgb(67, 185, 198) // Terminal Cyan, Classes, Identifiers, Variables
ayargb-identifier = rgb(67, 185, 198) // Terminal Cyan, Classes, Identifiers, Variables
ayargb-variable = rgb(67, 185, 198) // Terminal Cyan, Classes, Identifiers, Variables
ayargb-darkblue = rgb(54, 130, 196) // Terminal Blue, Bookmarks, VS Code activity badge
ayargb-activitybadge = rgb(54, 130, 196) // Terminal Blue, Bookmarks, VS Code activity badge
ayargb-bookmark = rgb(54, 130, 196) // Terminal Blue, Bookmarks, VS Code activity badge
ayargb-blue2 = rgb(54, 130, 196) // Terminal Blue, Bookmarks, VS Code activity badge
ayargb-border2 = rgb(26, 21, 40) // Secondary borders
ayargb-modal = rgb(34, 28, 53) // Modal background, Checkbox background, Input background
ayargb-menu = rgb(34, 28, 53) // Modal background, Checkbox background, Input background
ayargb-toolbar = rgb(34, 28, 53) // Modal background, Checkbox background, Input background
ayargb-checkbox = rgb(34, 28, 53) // Modal background, Checkbox background, Input background
ayargb-input = rgb(34, 28, 53) // Modal background, Checkbox background, Input background
ayargb-subheader = rgb(43, 35, 67) // Subheader background, Line highlight, UI hover highlight
ayargb-tabline = rgb(43, 35, 67) // Subheader background, Line highlight, UI hover highlight
ayargb-hover = rgb(43, 35, 67) // Subheader background, Line highlight, UI hover highlight
ayargb-highlight = rgb(43, 35, 67) // Subheader background, Line highlight, UI hover highlight
ayargb-black = rgb(52, 41, 80) // Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background
ayargb-gutter = rgb(52, 41, 80) // Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background
ayargb-border = rgb(52, 41, 80) // Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background
ayargb-rule = rgb(52, 41, 80) // Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background
ayargb-button = rgb(52, 41, 80) // Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background
ayargb-altrow = rgb(52, 41, 80) // Terminal Black, Buttons, Borders, Rules and guides, Line numbers, Alternate row background, Alternate modal background
ayargb-gray = rgb(86, 69, 133) // Terminal Bright Black, Comments, Markdown block quotes, Folded code blocks
ayargb-comment = rgb(86, 69, 133) // Terminal Bright Black, Comments, Markdown block quotes, Folded code blocks
ayargb-blockquote = rgb(86, 69, 133) // Terminal Bright Black, Comments, Markdown block quotes, Folded code blocks
ayargb-folded = rgb(86, 69, 133) // Terminal Bright Black, Comments, Markdown block quotes, Folded code blocks
ayargb-darkgray = rgb(86, 69, 133) // Terminal Bright Black, Comments, Markdown block quotes, Folded code blocks
ayargb-focusborder = rgb(50, 33, 69) // Highlight and focus border, Highlights in UI and modals
ayargb-highlightborder = rgb(50, 33, 69) // Highlight and focus border, Highlights in UI and modals
ayargb-modalhighlight = rgb(50, 33, 69) // Highlight and focus border, Highlights in UI and modals
ayargb-highlight2 = rgb(50, 33, 69) // Highlight and focus border, Highlights in UI and modals
ayargb-selection = rgb(74, 49, 104) // Selection background
ayargb-underline = rgb(124, 82, 173) // Markdown underline
ayargb-cursor = rgb(150, 117, 189) // Cursor, Active border, Active line number, Subheader foreground, Badge background, Minimap and scrollbar background, Markdown table text
ayargb-activeborder = rgb(150, 117, 189) // Cursor, Active border, Active line number, Subheader foreground, Badge background, Minimap and scrollbar background, Markdown table text
ayargb-active = rgb(150, 117, 189) // Cursor, Active border, Active line number, Subheader foreground, Badge background, Minimap and scrollbar background, Markdown table text
ayargb-white = rgb(229, 220, 239) // Terminal Bright White, Objects
ayargb-object = rgb(229, 220, 239) // Terminal Bright White, Objects
ayargb-darkwhite = rgb(138, 125, 155) // Terminal White, Muted text, Punctuation
ayargb-muted = rgb(138, 125, 155) // Terminal White, Muted text, Punctuation
ayargb-punctuation = rgb(138, 125, 155) // Terminal White, Muted text, Punctuation
ayargb-terminator = rgb(138, 125, 155) // Terminal White, Muted text, Punctuation
