:root {
  --ayame-black: #17131e; /* Editor background */
  --ayame-white: #bab4d2; /* Editor foreground */
  --ayame-red: #ea5279; /* Terminal Red */
  --ayame-orange: #e78d5b;
  --ayame-yellow: #f5cb40; /* Terminal Yellow */
  --ayame-green: #79c952; /* Terminal Green */
  --ayame-teal: #5ee59d;
  --ayame-cyan: #52eae8; /* Terminal Cyan */
  --ayame-blue: #52a4ea; /* Terminal Blue */
  --ayame-purple: #8852ea; /* Terminal Magenta */
  --ayame-pink: #cd40c7;
  --ayame-comment: #474383; /* Comments */
  --ayame-highlight: #2d203c; /* Cursor line highlight */
  --ayame-gutter: #37355a; /* Gutter foreground, Line numbers, Terminal Black */
  --ayame-cursor: #8579bc; /* Terminal cursor, Current line number */
  --ayame-terminator: #8a7d9b; /* Terminal White */
  --ayame-bracket: #6c8db3; /* Parentheses, Brackets, Braces */
  --ayame-header: #0b0911;
  --ayame-tabline: #2b284a; /* Active tab, Table header */
  --ayame-modal: #211d2b; /* Modal background */
  --ayame-altrow: #2b253c; /* Alternate row background */
  --ayame-thisrow: #3e2e4c; /* Active row highlight */
  --ayame-background: var(--ayame-black); /* Editor background */
  --ayame-foreground: var(--ayame-white); /* Editor foreground */
  --ayame-error: var(--ayame-red); /* Terminal Red */
  --ayame-constant: var(--ayame-orange);
  --ayame-warning: var(--ayame-yellow); /* Terminal Yellow */
  --ayame-info: var(--ayame-green); /* Terminal Green */
  --ayame-todo: var(--ayame-teal);
  --ayame-primary: var(--ayame-blue); /* Terminal Blue */
  --ayame-secondary: var(--ayame-purple); /* Terminal Magenta */
  --ayame-magenta: var(--ayame-purple); /* Terminal Magenta */
  --ayame-accent: var(--ayame-pink);
  --ayame-gray: var(--ayame-comment); /* Comments */
  --ayame-muted: var(--ayame-comment); /* Comments */
  --ayame-light-gray: var(--ayame-terminator); /* Terminal White */
}
