aya-background = var(--ayame-background) // Background
aya-foreground = var(--ayame-foreground) // Foreground
aya-red = var(--ayame-red) // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
aya-darkred = var(--ayame-darkred) // Terminal Red, Error, Invalid
aya-yellow = var(--ayame-yellow) // Terminal Bright Yellow, Characters, HTML attributes, CSS classes, Markdown alt text, Markdown link anchors
aya-orange = var(--ayame-orange) // Terminal Yellow, Warnings, Constants
aya-green = var(--ayame-green) // Terminal Bright Green, Git added, Debug, Strings
aya-darkgreen = var(--ayame-darkgreen) // Terminal Green, Info, String quotation marks
aya-cyan = var(--ayame-cyan) // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
aya-darkcyan = var(--ayame-darkcyan) // Terminal Cyan, Classes, Identifiers, Variables
aya-blue = var(--ayame-blue) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
aya-darkblue = var(--ayame-darkblue) // Terminal Blue, Bookmarks
aya-pink = var(--ayame-pink) // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
aya-purple = var(--ayame-purple) // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
aya-white = var(--ayame-white) // Terminal Bright White, Objects
aya-lightgray = var(--ayame-lightgray) // Terminal White, Muted text, Punctuation
aya-gray = var(--ayame-gray) // Terminal Bright Black, Buttons, Borders, Rules and guides, Line numbers
aya-black = var(--ayame-black) // Terminal Black, Subheader background
aya-border2 = var(--ayame-border2) // Secondary borders
aya-modal = var(--ayame-modal) // Modal background
aya-hover = var(--ayame-hover) // Line highlight, UI hover highlight
aya-altrow = var(--ayame-altrow) // Alternate row background, Alternate modal background
aya-focusborder = var(--ayame-focusborder) // Highlight and focus border
aya-modalhighlight = var(--ayame-modalhighlight) // Highlights in UI and modals
aya-selection = var(--ayame-selection) // Selection background
aya-comment = var(--ayame-comment) // Comments, Markdown block quotes, Folded code blocks
aya-cursor = var(--ayame-cursor) // Cursor, Active line number, Subheader foreground, Badge background, Minimap and scrollbar background, Markdown table text
aya-activitybadge = var(--ayame-activitybadge) // VS Code activity badge
aya-blue2 = var(--ayame-blue2) // Alternate blue
aya-bracket = var(--ayame-bracket) // Parentheses, Brackets, Braces
aya-error2 = var(--ayame-error2) // Error background
aya-tag = var(--ayame-tag) // Tags
aya-foreground2 = var(--ayame-foreground2) // Alternate foreground
aya-purewhite = var(--ayame-purewhite) // Extra white for lighter backgrounds, Badge foreground
aya-teal = var(--ayame-teal) // TODO comments
aya-bg = var(--ayame-bg) // Background
aya-fg = var(--ayame-fg) // Foreground
aya-deleted = var(--ayame-deleted) // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
aya-breakpoint = var(--ayame-breakpoint) // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
aya-stop = var(--ayame-stop) // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
aya-this = var(--ayame-this) // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
aya-bold = var(--ayame-bold) // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
aya-error = var(--ayame-error) // Terminal Red, Error, Invalid
aya-invalid = var(--ayame-invalid) // Terminal Red, Error, Invalid
aya-character = var(--ayame-character) // Terminal Bright Yellow, Characters, HTML attributes, CSS classes, Markdown alt text, Markdown link anchors
aya-darkyellow = var(--ayame-darkyellow) // Terminal Yellow, Warnings, Constants
aya-warning = var(--ayame-warning) // Terminal Yellow, Warnings, Constants
aya-constant = var(--ayame-constant) // Terminal Yellow, Warnings, Constants
aya-added = var(--ayame-added) // Terminal Bright Green, Git added, Debug, Strings
aya-debug = var(--ayame-debug) // Terminal Bright Green, Git added, Debug, Strings
aya-string = var(--ayame-string) // Terminal Bright Green, Git added, Debug, Strings
aya-info = var(--ayame-info) // Terminal Green, Info, String quotation marks
aya-match = var(--ayame-match) // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
aya-control = var(--ayame-control) // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
aya-regex = var(--ayame-regex) // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
aya-escape = var(--ayame-escape) // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
aya-italics = var(--ayame-italics) // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
aya-class = var(--ayame-class) // Terminal Cyan, Classes, Identifiers, Variables
aya-identifier = var(--ayame-identifier) // Terminal Cyan, Classes, Identifiers, Variables
aya-variable = var(--ayame-variable) // Terminal Cyan, Classes, Identifiers, Variables
aya-primary = var(--ayame-primary) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
aya-progress = var(--ayame-progress) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
aya-modified = var(--ayame-modified) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
aya-hyperlink = var(--ayame-hyperlink) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
aya-keyword = var(--ayame-keyword) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
aya-type = var(--ayame-type) // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
aya-bookmark = var(--ayame-bookmark) // Terminal Blue, Bookmarks
aya-magenta = var(--ayame-magenta) // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
aya-tertiary = var(--ayame-tertiary) // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
aya-focus = var(--ayame-focus) // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
aya-operator = var(--ayame-operator) // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
aya-darkmagenta = var(--ayame-darkmagenta) // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
aya-secondary = var(--ayame-secondary) // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
aya-function = var(--ayame-function) // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
aya-fun = var(--ayame-fun) // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
aya-attribute = var(--ayame-attribute) // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
aya-code = var(--ayame-code) // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
aya-object = var(--ayame-object) // Terminal Bright White, Objects
aya-darkwhite = var(--ayame-darkwhite) // Terminal White, Muted text, Punctuation
aya-muted = var(--ayame-muted) // Terminal White, Muted text, Punctuation
aya-punctuation = var(--ayame-punctuation) // Terminal White, Muted text, Punctuation
aya-terminator = var(--ayame-terminator) // Terminal White, Muted text, Punctuation
aya-gutter = var(--ayame-gutter) // Terminal Bright Black, Buttons, Borders, Rules and guides, Line numbers
aya-border = var(--ayame-border) // Terminal Bright Black, Buttons, Borders, Rules and guides, Line numbers
aya-rule = var(--ayame-rule) // Terminal Bright Black, Buttons, Borders, Rules and guides, Line numbers
aya-button = var(--ayame-button) // Terminal Bright Black, Buttons, Borders, Rules and guides, Line numbers
aya-subheader = var(--ayame-subheader) // Terminal Black, Subheader background
aya-tabline = var(--ayame-tabline) // Terminal Black, Subheader background
aya-header = var(--ayame-header) // Secondary borders
aya-menu = var(--ayame-menu) // Modal background
aya-toolbar = var(--ayame-toolbar) // Modal background
aya-highlight = var(--ayame-highlight) // Line highlight, UI hover highlight
aya-highlightborder = var(--ayame-highlightborder) // Highlight and focus border
aya-highlight2 = var(--ayame-highlight2) // Highlights in UI and modals
aya-todo = var(--ayame-todo) // TODO comments
:root
    --ayame-background #17131e; /* Background */
    --ayame-foreground #bab4d2; /* Foreground */
    --ayame-red #ff6394; /* Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold */
    --ayame-darkred #d74368; /* Terminal Red, Error, Invalid */
    --ayame-yellow #f5cb40; /* Terminal Bright Yellow, Characters, HTML attributes, CSS classes, Markdown alt text, Markdown link anchors */
    --ayame-orange #e78d5b; /* Terminal Yellow, Warnings, Constants */
    --ayame-green #98d57e; /* Terminal Bright Green, Git added, Debug, Strings */
    --ayame-darkgreen #63ae5d; /* Terminal Green, Info, String quotation marks */
    --ayame-cyan #63dcea; /* Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics */
    --ayame-darkcyan #64a9cc; /* Terminal Cyan, Classes, Identifiers, Variables */
    --ayame-blue #51a2e8; /* Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type */
    --ayame-darkblue #5984e7; /* Terminal Blue, Bookmarks */
    --ayame-pink #eb68e5; /* Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords */
    --ayame-purple #966cec; /* Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks */
    --ayame-white #d1c9f4; /* Terminal Bright White, Objects */
    --ayame-lightgray #8a7d9b; /* Terminal White, Muted text, Punctuation */
    --ayame-gray #37355a; /* Terminal Bright Black, Buttons, Borders, Rules and guides, Line numbers */
    --ayame-black #2b284a; /* Terminal Black, Subheader background */
    --ayame-border2 #0b0911; /* Secondary borders */
    --ayame-modal #211d2b; /* Modal background */
    --ayame-hover #2d203c; /* Line highlight, UI hover highlight */
    --ayame-altrow #2b253c; /* Alternate row background, Alternate modal background */
    --ayame-focusborder #3d2a54; /* Highlight and focus border */
    --ayame-modalhighlight #3e2e4c; /* Highlights in UI and modals */
    --ayame-selection #3c376f; /* Selection background */
    --ayame-comment #5953a7; /* Comments, Markdown block quotes, Folded code blocks */
    --ayame-cursor #857abc; /* Cursor, Active line number, Subheader foreground, Badge background, Minimap and scrollbar background, Markdown table text */
    --ayame-activitybadge #007acc; /* VS Code activity badge */
    --ayame-blue2 #4984e7; /* Alternate blue */
    --ayame-bracket #6c8db3; /* Parentheses, Brackets, Braces */
    --ayame-error2 #6a1d31; /* Error background */
    --ayame-tag #f07178; /* Tags */
    --ayame-foreground2 #bbbbbb; /* Alternate foreground */
    --ayame-purewhite #ffffff; /* Extra white for lighter backgrounds, Badge foreground */
    --ayame-teal #5ee59d; /* TODO comments */
    --ayame-bg aya-background; /* Background */
    --ayame-fg aya-foreground; /* Foreground */
    --ayame-deleted aya-red; /* Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold */
    --ayame-breakpoint aya-red; /* Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold */
    --ayame-stop aya-red; /* Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold */
    --ayame-this aya-red; /* Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold */
    --ayame-bold aya-red; /* Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold */
    --ayame-error aya-darkred; /* Terminal Red, Error, Invalid */
    --ayame-invalid aya-darkred; /* Terminal Red, Error, Invalid */
    --ayame-character aya-yellow; /* Terminal Bright Yellow, Characters, HTML attributes, CSS classes, Markdown alt text, Markdown link anchors */
    --ayame-darkyellow aya-orange; /* Terminal Yellow, Warnings, Constants */
    --ayame-warning aya-orange; /* Terminal Yellow, Warnings, Constants */
    --ayame-constant aya-orange; /* Terminal Yellow, Warnings, Constants */
    --ayame-added aya-green; /* Terminal Bright Green, Git added, Debug, Strings */
    --ayame-debug aya-green; /* Terminal Bright Green, Git added, Debug, Strings */
    --ayame-string aya-green; /* Terminal Bright Green, Git added, Debug, Strings */
    --ayame-info aya-darkgreen; /* Terminal Green, Info, String quotation marks */
    --ayame-match aya-cyan; /* Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics */
    --ayame-control aya-cyan; /* Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics */
    --ayame-regex aya-cyan; /* Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics */
    --ayame-escape aya-cyan; /* Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics */
    --ayame-italics aya-cyan; /* Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics */
    --ayame-class aya-darkcyan; /* Terminal Cyan, Classes, Identifiers, Variables */
    --ayame-identifier aya-darkcyan; /* Terminal Cyan, Classes, Identifiers, Variables */
    --ayame-variable aya-darkcyan; /* Terminal Cyan, Classes, Identifiers, Variables */
    --ayame-primary aya-blue; /* Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type */
    --ayame-progress aya-blue; /* Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type */
    --ayame-modified aya-blue; /* Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type */
    --ayame-hyperlink aya-blue; /* Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type */
    --ayame-keyword aya-blue; /* Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type */
    --ayame-type aya-blue; /* Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type */
    --ayame-bookmark aya-darkblue; /* Terminal Blue, Bookmarks */
    --ayame-magenta aya-pink; /* Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords */
    --ayame-tertiary aya-pink; /* Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords */
    --ayame-focus aya-pink; /* Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords */
    --ayame-operator aya-pink; /* Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords */
    --ayame-darkmagenta aya-purple; /* Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks */
    --ayame-secondary aya-purple; /* Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks */
    --ayame-function aya-purple; /* Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks */
    --ayame-fun aya-purple; /* Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks */
    --ayame-attribute aya-purple; /* Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks */
    --ayame-code aya-purple; /* Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks */
    --ayame-object aya-white; /* Terminal Bright White, Objects */
    --ayame-darkwhite aya-lightgray; /* Terminal White, Muted text, Punctuation */
    --ayame-muted aya-lightgray; /* Terminal White, Muted text, Punctuation */
    --ayame-punctuation aya-lightgray; /* Terminal White, Muted text, Punctuation */
    --ayame-terminator aya-lightgray; /* Terminal White, Muted text, Punctuation */
    --ayame-gutter aya-gray; /* Terminal Bright Black, Buttons, Borders, Rules and guides, Line numbers */
    --ayame-border aya-gray; /* Terminal Bright Black, Buttons, Borders, Rules and guides, Line numbers */
    --ayame-rule aya-gray; /* Terminal Bright Black, Buttons, Borders, Rules and guides, Line numbers */
    --ayame-button aya-gray; /* Terminal Bright Black, Buttons, Borders, Rules and guides, Line numbers */
    --ayame-subheader aya-black; /* Terminal Black, Subheader background */
    --ayame-tabline aya-black; /* Terminal Black, Subheader background */
    --ayame-header aya-border2; /* Secondary borders */
    --ayame-menu aya-modal; /* Modal background */
    --ayame-toolbar aya-modal; /* Modal background */
    --ayame-highlight aya-hover; /* Line highlight, UI hover highlight */
    --ayame-highlightborder aya-focusborder; /* Highlight and focus border */
    --ayame-highlight2 aya-modalhighlight; /* Highlights in UI and modals */
    --ayame-todo aya-teal; /* TODO comments */
