ayahex-background = #17131e // Background
ayahex-foreground = #bab4d2 // Foreground
ayahex-red = #ff6394 // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayahex-darkred = #d74368 // Terminal Red, Error, Invalid
ayahex-yellow = #f5cb40 // Terminal Bright Yellow, Characters, HTML attributes, CSS classes, Markdown alt text, Markdown link anchors
ayahex-orange = #e78d5b // Terminal Yellow, Warnings, Constants
ayahex-green = #98d57e // Terminal Bright Green, Git added, Debug, Strings
ayahex-darkgreen = #63ae5d // Terminal Green, Info, String quotation marks
ayahex-cyan = #63dcea // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayahex-darkcyan = #64a9cc // Terminal Cyan, Classes, Identifiers, Variables
ayahex-blue = #51a2e8 // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
ayahex-darkblue = #5984e7 // Terminal Blue, Bookmarks
ayahex-pink = #eb68e5 // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayahex-purple = #966cec // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayahex-white = #d1c9f4 // Terminal Bright White, Objects
ayahex-lightgray = #8a7d9b // Terminal White, Muted text, Punctuation
ayahex-gray = #37355a // Terminal Bright Black, Buttons, Borders, Rules and guides, Line numbers
ayahex-black = #2b284a // Terminal Black, Subheader background
ayahex-border2 = #0b0911 // Secondary borders
ayahex-modal = #211d2b // Modal background
ayahex-hover = #2d203c // Line highlight, UI hover highlight
ayahex-altrow = #2b253c // Alternate row background, Alternate modal background
ayahex-focusborder = #3d2a54 // Highlight and focus border
ayahex-modalhighlight = #3e2e4c // Highlights in UI and modals
ayahex-selection = #3c376f // Selection background
ayahex-comment = #5953a7 // Comments, Markdown block quotes, Folded code blocks
ayahex-cursor = #857abc // Cursor, Active line number, Subheader foreground, Badge background, Minimap and scrollbar background, Markdown table text
ayahex-activitybadge = #007acc // VS Code activity badge
ayahex-blue2 = #4984e7 // Alternate blue
ayahex-bracket = #6c8db3 // Parentheses, Brackets, Braces
ayahex-error2 = #6a1d31 // Error background
ayahex-tag = #f07178 // Tags
ayahex-foreground2 = #bbbbbb // Alternate foreground
ayahex-purewhite = #ffffff // Extra white for lighter backgrounds, Badge foreground
ayahex-teal = #5ee59d // TODO comments
ayahex-bg = #17131e // Background
ayahex-fg = #bab4d2 // Foreground
ayahex-deleted = #ff6394 // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayahex-breakpoint = #ff6394 // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayahex-stop = #ff6394 // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayahex-this = #ff6394 // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayahex-bold = #ff6394 // Terminal Bright Red, Git deleted, Breakpoints, Stop, Language variables, Markdown bold
ayahex-error = #d74368 // Terminal Red, Error, Invalid
ayahex-invalid = #d74368 // Terminal Red, Error, Invalid
ayahex-character = #f5cb40 // Terminal Bright Yellow, Characters, HTML attributes, CSS classes, Markdown alt text, Markdown link anchors
ayahex-darkyellow = #e78d5b // Terminal Yellow, Warnings, Constants
ayahex-warning = #e78d5b // Terminal Yellow, Warnings, Constants
ayahex-constant = #e78d5b // Terminal Yellow, Warnings, Constants
ayahex-added = #98d57e // Terminal Bright Green, Git added, Debug, Strings
ayahex-debug = #98d57e // Terminal Bright Green, Git added, Debug, Strings
ayahex-string = #98d57e // Terminal Bright Green, Git added, Debug, Strings
ayahex-info = #63ae5d // Terminal Green, Info, String quotation marks
ayahex-match = #63dcea // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayahex-control = #63dcea // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayahex-regex = #63dcea // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayahex-escape = #63dcea // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayahex-italics = #63dcea // Terminal Bright Cyan, Find matches, Hyperlink hover, Control keywords, RegEx literals, Escape characters, Markdown italics
ayahex-class = #64a9cc // Terminal Cyan, Classes, Identifiers, Variables
ayahex-identifier = #64a9cc // Terminal Cyan, Classes, Identifiers, Variables
ayahex-variable = #64a9cc // Terminal Cyan, Classes, Identifiers, Variables
ayahex-primary = #51a2e8 // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
ayahex-progress = #51a2e8 // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
ayahex-modified = #51a2e8 // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
ayahex-hyperlink = #51a2e8 // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
ayahex-keyword = #51a2e8 // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
ayahex-type = #51a2e8 // Terminal Bright Blue, Progress bars, Git modified, Hyperlinks, Keywords, Type
ayahex-bookmark = #5984e7 // Terminal Blue, Bookmarks
ayahex-magenta = #eb68e5 // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayahex-tertiary = #eb68e5 // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayahex-focus = #eb68e5 // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayahex-operator = #eb68e5 // Terminal Bright Magenta, Debug token values, Focus accents, Operator keywords
ayahex-darkmagenta = #966cec // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayahex-secondary = #966cec // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayahex-function = #966cec // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayahex-fun = #966cec // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayahex-attribute = #966cec // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayahex-code = #966cec // Terminal Magenta, Debug token keys, Functions, Attributes, Markdown plain code blocks
ayahex-object = #d1c9f4 // Terminal Bright White, Objects
ayahex-darkwhite = #8a7d9b // Terminal White, Muted text, Punctuation
ayahex-muted = #8a7d9b // Terminal White, Muted text, Punctuation
ayahex-punctuation = #8a7d9b // Terminal White, Muted text, Punctuation
ayahex-terminator = #8a7d9b // Terminal White, Muted text, Punctuation
ayahex-gutter = #37355a // Terminal Bright Black, Buttons, Borders, Rules and guides, Line numbers
ayahex-border = #37355a // Terminal Bright Black, Buttons, Borders, Rules and guides, Line numbers
ayahex-rule = #37355a // Terminal Bright Black, Buttons, Borders, Rules and guides, Line numbers
ayahex-button = #37355a // Terminal Bright Black, Buttons, Borders, Rules and guides, Line numbers
ayahex-subheader = #2b284a // Terminal Black, Subheader background
ayahex-tabline = #2b284a // Terminal Black, Subheader background
ayahex-header = #0b0911 // Secondary borders
ayahex-menu = #211d2b // Modal background
ayahex-toolbar = #211d2b // Modal background
ayahex-highlight = #2d203c // Line highlight, UI hover highlight
ayahex-highlightborder = #3d2a54 // Highlight and focus border
ayahex-highlight2 = #3e2e4c // Highlights in UI and modals
ayahex-todo = #5ee59d // TODO comments
